# Boursorama USD/RUB

Quick, temporary scraper to get USD/RUB quotes from Boursorama (used in Daily Energy Report).

Manual procedure:

- go to https://www.boursorama.com/bourse/devises/taux-de-change-dollar-rouble-USD-RUB/
- click on 6M
- click on the download icon

In [1]:
import logging
import sys

root = logging.getLogger()
root.setLevel(logging.DEBUG)

handler = logging.StreamHandler(sys.stdout)
handler.setLevel(logging.DEBUG)
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
handler.setFormatter(formatter)
root.addHandler(handler)

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import requests

url = 'https://www.boursorama.com/bourse/action/graph/ws/GetTicksEOD?symbol=1xUSDRUB&length=180&period=0&guid='
r = requests.get(url)
r.raise_for_status()

2022-03-28 10:16:50,379 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): www.boursorama.com:443
2022-03-28 10:16:50,470 - urllib3.connectionpool - DEBUG - https://www.boursorama.com:443 "GET /bourse/action/graph/ws/GetTicksEOD?symbol=1xUSDRUB&length=180&period=0&guid= HTTP/1.1" 200 2361

In [4]:
print(r.content)

b'{"d":{"Name":"USD\\/ROUBLE RUSSIE","SymbolId":"1xUSDRUB","Xperiod":0,"QuoteTab":[{"d":18898,"o":72.6505,"h":73.0308,"l":72.404,"c":72.8895,"v":0},{"d":18899,"o":72.8915,"h":72.9675,"l":72.588,"c":72.887,"v":0},{"d":18900,"o":72.8866,"h":72.987,"l":72.589,"c":72.71,"v":0},{"d":18901,"o":72.7315,"h":73.25,"l":72.6575,"c":72.6689,"v":0},{"d":18904,"o":72.727,"h":72.9995,"l":72.403,"c":72.4925,"v":0},{"d":18905,"o":72.513,"h":72.681,"l":72.2332,"c":72.3085,"v":0},{"d":18906,"o":72.2781,"h":72.7563,"l":72.2764,"c":72.4245,"v":0},{"d":18907,"o":72.3965,"h":72.4765,"l":71.686,"c":71.753,"v":0},{"d":18908,"o":71.755,"h":72.07,"l":71.6518,"c":71.8808,"v":0},{"d":18911,"o":71.7065,"h":71.9285,"l":71.5555,"c":71.8805,"v":0},{"d":18912,"o":71.8785,"h":72.082,"l":71.7295,"c":71.8425,"v":0},{"d":18913,"o":71.822,"h":72.1299,"l":71.712,"c":72.0165,"v":0},{"d":18914,"o":72.1055,"h":72.1075,"l":71.329,"c":71.4195,"v":0},{"d":18915,"o":71.4249,"h":71.445,"l":70.901,"c":71.1238,"v":0},{"d":18918,"o":71.0785,"h":71.45,"l":70.888,"c":71.227,"v":0},{"d":18919,"o":71.2275,"h":71.3885,"l":70.815,"c":70.906,"v":0},{"d":18920,"o":70.8979,"h":71.145,"l":70.6539,"c":70.83,"v":0},{"d":18921,"o":70.864,"h":71.3275,"l":70.815,"c":71.1576,"v":0},{"d":18922,"o":71.152,"h":71.183,"l":69.852,"c":70.269,"v":0},{"d":18925,"o":70.387,"h":70.508,"l":69.7049,"c":69.8684,"v":0},{"d":18926,"o":69.8749,"h":69.8795,"l":69.222,"c":69.5092,"v":0},{"d":18927,"o":69.5112,"h":70.772,"l":69.3285,"c":70.6575,"v":0},{"d":18928,"o":70.657,"h":70.773,"l":70.061,"c":70.3076,"v":0},{"d":18929,"o":70.222,"h":71.0145,"l":70.019,"c":70.9395,"v":0},{"d":18932,"o":70.6,"h":71.6705,"l":70.6,"c":71.615,"v":0},{"d":18933,"o":71.613,"h":72.003,"l":71.382,"c":71.6595,"v":0},{"d":18934,"o":71.6556,"h":72.2585,"l":71.332,"c":71.7264,"v":0},{"d":18935,"o":71.7226,"h":72.143,"l":71.216,"c":71.4565,"v":0},{"d":18936,"o":71.4335,"h":71.9705,"l":71.022,"c":71.297,"v":0},{"d":18939,"o":71.2045,"h":71.522,"l":71.0445,"c":71.2455,"v":0},{"d":18940,"o":71.2412,"h":71.3495,"l":70.655,"c":70.743,"v":0},{"d":18941,"o":70.7315,"h":71.3481,"l":70.5155,"c":71.255,"v":0},{"d":18942,"o":71.2599,"h":71.881,"l":70.9725,"c":71.653,"v":0},{"d":18943,"o":71.6546,"h":73.2255,"l":71.4385,"c":72.8725,"v":0},{"d":18946,"o":72.6995,"h":72.876,"l":72.0095,"c":72.5055,"v":0},{"d":18947,"o":72.5095,"h":73.507,"l":72.3202,"c":73.0655,"v":0},{"d":18948,"o":73.0661,"h":73.3195,"l":72.3259,"c":72.6175,"v":0},{"d":18949,"o":72.5865,"h":73.372,"l":72.446,"c":73.1095,"v":0},{"d":18950,"o":73.1179,"h":73.6795,"l":72.7,"c":73.4725,"v":0},{"d":18953,"o":73.4845,"h":75.0915,"l":73.1795,"c":74.801,"v":0},{"d":18954,"o":74.7759,"h":75.2805,"l":74.0619,"c":74.3455,"v":0},{"d":18955,"o":74.2906,"h":75.047,"l":74.1125,"c":74.954,"v":0},{"d":18956,"o":74.9716,"h":74.997,"l":74.49,"c":74.569,"v":0},{"d":18957,"o":74.5654,"h":75.923,"l":74.552,"c":75.629,"v":0},{"d":18960,"o":75.315,"h":75.4795,"l":74.2435,"c":74.4555,"v":0},{"d":18961,"o":74.5634,"h":75.1175,"l":73.8976,"c":74.1485,"v":0},{"d":18962,"o":74.0825,"h":74.3826,"l":73.7055,"c":74.35,"v":0},{"d":18963,"o":74.3101,"h":74.3164,"l":73.5265,"c":73.611,"v":0},{"d":18964,"o":73.65,"h":73.9826,"l":73.308,"c":73.93,"v":0},{"d":18967,"o":73.7545,"h":74.4505,"l":73.486,"c":74.2395,"v":0},{"d":18968,"o":74.404,"h":74.533,"l":73.8355,"c":74.026,"v":0},{"d":18969,"o":74.0258,"h":74.0905,"l":73.5145,"c":73.5615,"v":0},{"d":18970,"o":73.559,"h":73.833,"l":73.4805,"c":73.669,"v":0},{"d":18971,"o":73.5545,"h":73.7832,"l":73.2635,"c":73.411,"v":0},{"d":18974,"o":73.3859,"h":73.705,"l":73.2585,"c":73.564,"v":0},{"d":18975,"o":73.5651,"h":73.9102,"l":73.4081,"c":73.7765,"v":0},{"d":18976,"o":73.7779,"h":74.377,"l":73.491,"c":73.658,"v":0},{"d":18977,"o":73.6557,"h":73.9155,"l":73.353,"c":73.8025,"v":0},{"d":18978,"o":73.8732,"h":74.273,"l":73.5645,"c":74.163,"v":0},{"d":18981,"o":74.245,"h":74.4905,"l":74.0494,"c":74.1545,"v":0},{"d":18982,"o":74.1541,"h":74.208,"l":73.723,"c":74.0137,"v":0},{"d":18983,"o":73.993,"h":74.2,"l":73.598,"c":73.6745,"v":0},{"d":18984,"o":73.6621,"h":73.7351,"l":73.19,"c":73.37,"v":0},{"d":18985,"o":73.3695,"h":73.7351,"l":73.1402,"c":73.6625,"v":0},{"d":18988,"o":73.8105,"h":73.8105,"l":73.0915,"c":73.3588,"v":0},{"d":18989,"o":73.4626,"h":73.8795,"l":73.338,"c":73.7025,"v":0},{"d":18990,"o":73.7024,"h":74.2045,"l":73.5395,"c":74.0045,"v":0},{"d":18991,"o":74.01,"h":75.145,"l":73.8975,"c":74.7825,"v":0},{"d":18992,"o":74.7445,"h":75.4266,"l":74.4861,"c":74.8851,"v":0},{"d":18995,"o":74.751,"h":75.2734,"l":74.178,"c":74.4752,"v":0},{"d":18996,"o":74.4761,"h":75.5825,"l":74.374,"c":75.299,"v":0},{"d":18997,"o":75.1747,"h":76.8889,"l":75.0499,"c":76.517,"v":0},{"d":18998,"o":76.7965,"h":77.3396,"l":76.008,"c":76.4045,"v":0},{"d":18999,"o":76.3888,"h":76.523,"l":75.0932,"c":75.7237,"v":0},{"d":19002,"o":75.565,"h":75.9845,"l":74.8315,"c":75.0163,"v":0},{"d":19003,"o":75.0163,"h":75.1565,"l":74.2939,"c":74.4986,"v":0},{"d":19004,"o":74.4678,"h":74.903,"l":74.311,"c":74.5795,"v":0},{"d":19005,"o":74.625,"h":76.6175,"l":74.4675,"c":76.4415,"v":0},{"d":19006,"o":76.4265,"h":76.9855,"l":75.6005,"c":76.239,"v":0},{"d":19009,"o":76.473,"h":76.793,"l":75.623,"c":75.8495,"v":0},{"d":19010,"o":75.8995,"h":77.152,"l":75.8235,"c":76.925,"v":0},{"d":19011,"o":76.9,"h":77.1515,"l":75.8295,"c":76.207,"v":0},{"d":19012,"o":76.2069,"h":76.8638,"l":75.901,"c":76.1335,"v":0},{"d":19013,"o":76.1263,"h":77.8085,"l":76.1263,"c":77.695,"v":0},{"d":19016,"o":77.4445,"h":79.4941,"l":76.9845,"c":78.5523,"v":0},{"d":19017,"o":78.8255,"h":79.345,"l":78.286,"c":78.7075,"v":0},{"d":19018,"o":78.713,"h":80.3795,"l":78.5205,"c":79.0395,"v":0},{"d":19019,"o":79.0621,"h":79.8795,"l":77.3895,"c":78.2664,"v":0},{"d":19020,"o":78.2539,"h":78.5045,"l":77.388,"c":78.144,"v":0},{"d":19023,"o":77.7985,"h":78.014,"l":77.117,"c":77.3313,"v":0},{"d":19024,"o":77.3314,"h":77.7435,"l":76.3895,"c":76.901,"v":0},{"d":19025,"o":76.9075,"h":76.9075,"l":75.6875,"c":76.1595,"v":0},{"d":19026,"o":76.157,"h":76.822,"l":76.0605,"c":76.4546,"v":0},{"d":19027,"o":76.3591,"h":76.532,"l":75.6545,"c":75.75,"v":0},{"d":19030,"o":76.1185,"h":76.1185,"l":75.2725,"c":75.3783,"v":0},{"d":19031,"o":75.3789,"h":75.6895,"l":74.9884,"c":75.0635,"v":0},{"d":19032,"o":75.106,"h":75.239,"l":74.492,"c":74.7026,"v":0},{"d":19033,"o":74.704,"h":75.13,"l":74.27,"c":74.9565,"v":0},{"d":19034,"o":75.03,"h":77.6945,"l":74.8185,"c":76.7934,"v":0},{"d":19037,"o":77.4556,"h":78.1716,"l":75.9775,"c":76.5796,"v":0},{"d":19038,"o":76.579,"h":76.863,"l":75.1145,"c":75.4795,"v":0},{"d":19039,"o":75.5065,"h":75.614,"l":74.843,"c":75.0873,"v":0},{"d":19040,"o":75.072,"h":76.7205,"l":75.022,"c":76.1636,"v":0},{"d":19041,"o":76.1795,"h":77.4866,"l":75.636,"c":77.3516,"v":0},{"d":19044,"o":77.99995,"h":80.5313,"l":76.16245,"c":80.28695,"v":0},{"d":19045,"o":80.3206,"h":80.935,"l":78.44495,"c":78.8315,"v":0},{"d":19046,"o":78.71495,"h":81.82495,"l":78.53995,"c":81.0635,"v":0},{"d":19047,"o":81.5798,"h":89.99,"l":81.24995,"c":84.76095,"v":0},{"d":19048,"o":84.7625,"h":85.9157,"l":81.57495,"c":83.83425,"v":0},{"d":19051,"o":118.39995,"h":119.24995,"l":83.53,"c":106.7543,"v":0},{"d":19052,"o":107.5043,"h":118.5,"l":99.0368,"c":108.514,"v":0},{"d":19053,"o":108.5145,"h":118.7225,"l":98.1004,"c":102.5,"v":0},{"d":19054,"o":102.75,"h":118.6885,"l":97.5,"c":109.5,"v":0},{"d":19055,"o":109.49995,"h":125.05,"l":100.22,"c":122.5,"v":0},{"d":19058,"o":141,"h":158.3,"l":132.25,"c":143,"v":0},{"d":19059,"o":127.4999,"h":141.62995,"l":121,"c":130,"v":0},{"d":19060,"o":130,"h":139.24995,"l":116.95,"c":136.25,"v":0},{"d":19061,"o":140,"h":140,"l":116.038,"c":133.5,"v":0},{"d":19062,"o":133.5001,"h":135.5001,"l":113.125,"c":134.37495,"v":0},{"d":19065,"o":132.99995,"h":133.0051,"l":110.15,"c":120.4525,"v":0},{"d":19066,"o":120.4526,"h":121.75,"l":102.5,"c":103.5001,"v":0},{"d":19067,"o":108.5,"h":110.356,"l":95.9999,"c":96.5,"v":0},{"d":19068,"o":96.5,"h":106.2501,"l":96.4999,"c":103.125,"v":0},{"d":19069,"o":103.125,"h":111,"l":100.875,"c":105.5,"v":0},{"d":19072,"o":101.1175,"h":110.25,"l":101.1175,"c":106.65,"v":0},{"d":19073,"o":106.65,"h":109.75,"l":102.9999,"c":106,"v":0},{"d":19074,"o":106,"h":107,"l":95,"c":96.74995,"v":0},{"d":19075,"o":96.75,"h":103.5,"l":95.8749,"c":102.25,"v":0},{"d":19076,"o":102.25,"h":104,"l":97.6244,"c":104,"v":0}]}}'

In [5]:
import pandas as pd
df = pd.DataFrame(r.content)

ValueError: DataFrame constructor not properly called!

In [ ]:
df

In [9]:
import pprint, json

pprint.pprint(json.loads(r.content))

{'d': {'Name': 'USD/ROUBLE RUSSIE',
       'QuoteTab': [{'c': 72.8895,
                     'd': 18898,
                     'h': 73.0308,
                     'l': 72.404,
                     'o': 72.6505,
                     'v': 0},
                    {'c': 72.887,
                     'd': 18899,
                     'h': 72.9675,
                     'l': 72.588,
                     'o': 72.8915,
                     'v': 0},
                    {'c': 72.71,
                     'd': 18900,
                     'h': 72.987,
                     'l': 72.589,
                     'o': 72.8866,
                     'v': 0},
                    {'c': 72.6689,
                     'd': 18901,
                     'h': 73.25,
                     'l': 72.6575,
                     'o': 72.7315,
                     'v': 0},
                    {'c': 72.4925,
                     'd': 18904,
                     'h': 72.9995,
                     'l': 72.403,
                     'o': 72.727,
                     'v': 0},
                    {'c': 72.3085,
                     'd': 18905,
                     'h': 72.681,
                     'l': 72.2332,
                     'o': 72.513,
                     'v': 0},
                    {'c': 72.4245,
                     'd': 18906,
                     'h': 72.7563,
                     'l': 72.2764,
                     'o': 72.2781,
                     'v': 0},
                    {'c': 71.753,
                     'd': 18907,
                     'h': 72.4765,
                     'l': 71.686,
                     'o': 72.3965,
                     'v': 0},
                    {'c': 71.8808,
                     'd': 18908,
                     'h': 72.07,
                     'l': 71.6518,
                     'o': 71.755,
                     'v': 0},
                    {'c': 71.8805,
                     'd': 18911,
                     'h': 71.9285,
                     'l': 71.5555,
                     'o': 71.7065,
                     'v': 0},
                    {'c': 71.8425,
                     'd': 18912,
                     'h': 72.082,
                     'l': 71.7295,
                     'o': 71.8785,
                     'v': 0},
                    {'c': 72.0165,
                     'd': 18913,
                     'h': 72.1299,
                     'l': 71.712,
                     'o': 71.822,
                     'v': 0},
                    {'c': 71.4195,
                     'd': 18914,
                     'h': 72.1075,
                     'l': 71.329,
                     'o': 72.1055,
                     'v': 0},
                    {'c': 71.1238,
                     'd': 18915,
                     'h': 71.445,
                     'l': 70.901,
                     'o': 71.4249,
                     'v': 0},
                    {'c': 71.227,
                     'd': 18918,
                     'h': 71.45,
                     'l': 70.888,
                     'o': 71.0785,
                     'v': 0},
                    {'c': 70.906,
                     'd': 18919,
                     'h': 71.3885,
                     'l': 70.815,
                     'o': 71.2275,
                     'v': 0},
                    {'c': 70.83,
                     'd': 18920,
                     'h': 71.145,
                     'l': 70.6539,
                     'o': 70.8979,
                     'v': 0},
                    {'c': 71.1576,
                     'd': 18921,
                     'h': 71.3275,
                     'l': 70.815,
                     'o': 70.864,
                     'v': 0},
                    {'c': 70.269,
                     'd': 18922,
                     'h': 71.183,
                     'l': 69.852,
                     'o': 71.152,
                     'v': 0},
                    {'c': 69.8684,
                     'd': 18925,
                     'h': 70.508,
                     'l': 69.7049,
                     'o': 70.387,
                     'v': 0},
                    {'c': 69.5092,
                     'd': 18926,
                     'h': 69.8795,
                     'l': 69.222,
                     'o': 69.8749,
                     'v': 0},
                    {'c': 70.6575,
                     'd': 18927,
                     'h': 70.772,
                     'l': 69.3285,
                     'o': 69.5112,
                     'v': 0},
                    {'c': 70.3076,
                     'd': 18928,
                     'h': 70.773,
                     'l': 70.061,
                     'o': 70.657,
                     'v': 0},
                    {'c': 70.9395,
                     'd': 18929,
                     'h': 71.0145,
                     'l': 70.019,
                     'o': 70.222,
                     'v': 0},
                    {'c': 71.615,
                     'd': 18932,
                     'h': 71.6705,
                     'l': 70.6,
                     'o': 70.6,
                     'v': 0},
                    {'c': 71.6595,
                     'd': 18933,
                     'h': 72.003,
                     'l': 71.382,
                     'o': 71.613,
                     'v': 0},
                    {'c': 71.7264,
                     'd': 18934,
                     'h': 72.2585,
                     'l': 71.332,
                     'o': 71.6556,
                     'v': 0},
                    {'c': 71.4565,
                     'd': 18935,
                     'h': 72.143,
                     'l': 71.216,
                     'o': 71.7226,
                     'v': 0},
                    {'c': 71.297,
                     'd': 18936,
                     'h': 71.9705,
                     'l': 71.022,
                     'o': 71.4335,
                     'v': 0},
                    {'c': 71.2455,
                     'd': 18939,
                     'h': 71.522,
                     'l': 71.0445,
                     'o': 71.2045,
                     'v': 0},
                    {'c': 70.743,
                     'd': 18940,
                     'h': 71.3495,
                     'l': 70.655,
                     'o': 71.2412,
                     'v': 0},
                    {'c': 71.255,
                     'd': 18941,
                     'h': 71.3481,
                     'l': 70.5155,
                     'o': 70.7315,
                     'v': 0},
                    {'c': 71.653,
                     'd': 18942,
                     'h': 71.881,
                     'l': 70.9725,
                     'o': 71.2599,
                     'v': 0},
                    {'c': 72.8725,
                     'd': 18943,
                     'h': 73.2255,
                     'l': 71.4385,
                     'o': 71.6546,
                     'v': 0},
                    {'c': 72.5055,
                     'd': 18946,
                     'h': 72.876,
                     'l': 72.0095,
                     'o': 72.6995,
                     'v': 0},
                    {'c': 73.0655,
                     'd': 18947,
                     'h': 73.507,
                     'l': 72.3202,
                     'o': 72.5095,
                     'v': 0},
                    {'c': 72.6175,
                     'd': 18948,
                     'h': 73.3195,
                     'l': 72.3259,
                     'o': 73.0661,
                     'v': 0},
                    {'c': 73.1095,
                     'd': 18949,
                     'h': 73.372,
                     'l': 72.446,
                     'o': 72.5865,
                     'v': 0},
                    {'c': 73.4725,
                     'd': 18950,
                     'h': 73.6795,
                     'l': 72.7,
                     'o': 73.1179,
                     'v': 0},
                    {'c': 74.801,
                     'd': 18953,
                     'h': 75.0915,
                     'l': 73.1795,
                     'o': 73.4845,
                     'v': 0},
                    {'c': 74.3455,
                     'd': 18954,
                     'h': 75.2805,
                     'l': 74.0619,
                     'o': 74.7759,
                     'v': 0},
                    {'c': 74.954,
                     'd': 18955,
                     'h': 75.047,
                     'l': 74.1125,
                     'o': 74.2906,
                     'v': 0},
                    {'c': 74.569,
                     'd': 18956,
                     'h': 74.997,
                     'l': 74.49,
                     'o': 74.9716,
                     'v': 0},
                    {'c': 75.629,
                     'd': 18957,
                     'h': 75.923,
                     'l': 74.552,
                     'o': 74.5654,
                     'v': 0},
                    {'c': 74.4555,
                     'd': 18960,
                     'h': 75.4795,
                     'l': 74.2435,
                     'o': 75.315,
                     'v': 0},
                    {'c': 74.1485,
                     'd': 18961,
                     'h': 75.1175,
                     'l': 73.8976,
                     'o': 74.5634,
                     'v': 0},
                    {'c': 74.35,
                     'd': 18962,
                     'h': 74.3826,
                     'l': 73.7055,
                     'o': 74.0825,
                     'v': 0},
                    {'c': 73.611,
                     'd': 18963,
                     'h': 74.3164,
                     'l': 73.5265,
                     'o': 74.3101,
                     'v': 0},
                    {'c': 73.93,
                     'd': 18964,
                     'h': 73.9826,
                     'l': 73.308,
                     'o': 73.65,
                     'v': 0},
                    {'c': 74.2395,
                     'd': 18967,
                     'h': 74.4505,
                     'l': 73.486,
                     'o': 73.7545,
                     'v': 0},
                    {'c': 74.026,
                     'd': 18968,
                     'h': 74.533,
                     'l': 73.8355,
                     'o': 74.404,
                     'v': 0},
                    {'c': 73.5615,
                     'd': 18969,
                     'h': 74.0905,
                     'l': 73.5145,
                     'o': 74.0258,
                     'v': 0},
                    {'c': 73.669,
                     'd': 18970,
                     'h': 73.833,
                     'l': 73.4805,
                     'o': 73.559,
                     'v': 0},
                    {'c': 73.411,
                     'd': 18971,
                     'h': 73.7832,
                     'l': 73.2635,
                     'o': 73.5545,
                     'v': 0},
                    {'c': 73.564,
                     'd': 18974,
                     'h': 73.705,
                     'l': 73.2585,
                     'o': 73.3859,
                     'v': 0},
                    {'c': 73.7765,
                     'd': 18975,
                     'h': 73.9102,
                     'l': 73.4081,
                     'o': 73.5651,
                     'v': 0},
                    {'c': 73.658,
                     'd': 18976,
                     'h': 74.377,
                     'l': 73.491,
                     'o': 73.7779,
                     'v': 0},
                    {'c': 73.8025,
                     'd': 18977,
                     'h': 73.9155,
                     'l': 73.353,
                     'o': 73.6557,
                     'v': 0},
                    {'c': 74.163,
                     'd': 18978,
                     'h': 74.273,
                     'l': 73.5645,
                     'o': 73.8732,
                     'v': 0},
                    {'c': 74.1545,
                     'd': 18981,
                     'h': 74.4905,
                     'l': 74.0494,
                     'o': 74.245,
                     'v': 0},
                    {'c': 74.0137,
                     'd': 18982,
                     'h': 74.208,
                     'l': 73.723,
                     'o': 74.1541,
                     'v': 0},
                    {'c': 73.6745,
                     'd': 18983,
                     'h': 74.2,
                     'l': 73.598,
                     'o': 73.993,
                     'v': 0},
                    {'c': 73.37,
                     'd': 18984,
                     'h': 73.7351,
                     'l': 73.19,
                     'o': 73.6621,
                     'v': 0},
                    {'c': 73.6625,
                     'd': 18985,
                     'h': 73.7351,
                     'l': 73.1402,
                     'o': 73.3695,
                     'v': 0},
                    {'c': 73.3588,
                     'd': 18988,
                     'h': 73.8105,
                     'l': 73.0915,
                     'o': 73.8105,
                     'v': 0},
                    {'c': 73.7025,
                     'd': 18989,
                     'h': 73.8795,
                     'l': 73.338,
                     'o': 73.4626,
                     'v': 0},
                    {'c': 74.0045,
                     'd': 18990,
                     'h': 74.2045,
                     'l': 73.5395,
                     'o': 73.7024,
                     'v': 0},
                    {'c': 74.7825,
                     'd': 18991,
                     'h': 75.145,
                     'l': 73.8975,
                     'o': 74.01,
                     'v': 0},
                    {'c': 74.8851,
                     'd': 18992,
                     'h': 75.4266,
                     'l': 74.4861,
                     'o': 74.7445,
                     'v': 0},
                    {'c': 74.4752,
                     'd': 18995,
                     'h': 75.2734,
                     'l': 74.178,
                     'o': 74.751,
                     'v': 0},
                    {'c': 75.299,
                     'd': 18996,
                     'h': 75.5825,
                     'l': 74.374,
                     'o': 74.4761,
                     'v': 0},
                    {'c': 76.517,
                     'd': 18997,
                     'h': 76.8889,
                     'l': 75.0499,
                     'o': 75.1747,
                     'v': 0},
                    {'c': 76.4045,
                     'd': 18998,
                     'h': 77.3396,
                     'l': 76.008,
                     'o': 76.7965,
                     'v': 0},
                    {'c': 75.7237,
                     'd': 18999,
                     'h': 76.523,
                     'l': 75.0932,
                     'o': 76.3888,
                     'v': 0},
                    {'c': 75.0163,
                     'd': 19002,
                     'h': 75.9845,
                     'l': 74.8315,
                     'o': 75.565,
                     'v': 0},
                    {'c': 74.4986,
                     'd': 19003,
                     'h': 75.1565,
                     'l': 74.2939,
                     'o': 75.0163,
                     'v': 0},
                    {'c': 74.5795,
                     'd': 19004,
                     'h': 74.903,
                     'l': 74.311,
                     'o': 74.4678,
                     'v': 0},
                    {'c': 76.4415,
                     'd': 19005,
                     'h': 76.6175,
                     'l': 74.4675,
                     'o': 74.625,
                     'v': 0},
                    {'c': 76.239,
                     'd': 19006,
                     'h': 76.9855,
                     'l': 75.6005,
                     'o': 76.4265,
                     'v': 0},
                    {'c': 75.8495,
                     'd': 19009,
                     'h': 76.793,
                     'l': 75.623,
                     'o': 76.473,
                     'v': 0},
                    {'c': 76.925,
                     'd': 19010,
                     'h': 77.152,
                     'l': 75.8235,
                     'o': 75.8995,
                     'v': 0},
                    {'c': 76.207,
                     'd': 19011,
                     'h': 77.1515,
                     'l': 75.8295,
                     'o': 76.9,
                     'v': 0},
                    {'c': 76.1335,
                     'd': 19012,
                     'h': 76.8638,
                     'l': 75.901,
                     'o': 76.2069,
                     'v': 0},
                    {'c': 77.695,
                     'd': 19013,
                     'h': 77.8085,
                     'l': 76.1263,
                     'o': 76.1263,
                     'v': 0},
                    {'c': 78.5523,
                     'd': 19016,
                     'h': 79.4941,
                     'l': 76.9845,
                     'o': 77.4445,
                     'v': 0},
                    {'c': 78.7075,
                     'd': 19017,
                     'h': 79.345,
                     'l': 78.286,
                     'o': 78.8255,
                     'v': 0},
                    {'c': 79.0395,
                     'd': 19018,
                     'h': 80.3795,
                     'l': 78.5205,
                     'o': 78.713,
                     'v': 0},
                    {'c': 78.2664,
                     'd': 19019,
                     'h': 79.8795,
                     'l': 77.3895,
                     'o': 79.0621,
                     'v': 0},
                    {'c': 78.144,
                     'd': 19020,
                     'h': 78.5045,
                     'l': 77.388,
                     'o': 78.2539,
                     'v': 0},
                    {'c': 77.3313,
                     'd': 19023,
                     'h': 78.014,
                     'l': 77.117,
                     'o': 77.7985,
                     'v': 0},
                    {'c': 76.901,
                     'd': 19024,
                     'h': 77.7435,
                     'l': 76.3895,
                     'o': 77.3314,
                     'v': 0},
                    {'c': 76.1595,
                     'd': 19025,
                     'h': 76.9075,
                     'l': 75.6875,
                     'o': 76.9075,
                     'v': 0},
                    {'c': 76.4546,
                     'd': 19026,
                     'h': 76.822,
                     'l': 76.0605,
                     'o': 76.157,
                     'v': 0},
                    {'c': 75.75,
                     'd': 19027,
                     'h': 76.532,
                     'l': 75.6545,
                     'o': 76.3591,
                     'v': 0},
                    {'c': 75.3783,
                     'd': 19030,
                     'h': 76.1185,
                     'l': 75.2725,
                     'o': 76.1185,
                     'v': 0},
                    {'c': 75.0635,
                     'd': 19031,
                     'h': 75.6895,
                     'l': 74.9884,
                     'o': 75.3789,
                     'v': 0},
                    {'c': 74.7026,
                     'd': 19032,
                     'h': 75.239,
                     'l': 74.492,
                     'o': 75.106,
                     'v': 0},
                    {'c': 74.9565,
                     'd': 19033,
                     'h': 75.13,
                     'l': 74.27,
                     'o': 74.704,
                     'v': 0},
                    {'c': 76.7934,
                     'd': 19034,
                     'h': 77.6945,
                     'l': 74.8185,
                     'o': 75.03,
                     'v': 0},
                    {'c': 76.5796,

## Solving the date

The date in the response are in days since Unix Epoch (1/1/1970).

We need to add the value received to this date to get the date.

In [10]:
import datetime

(datetime.datetime.utcnow() - datetime.datetime(1970,1,1)).days

19079

In [16]:
from datetime import timedelta

datetime.datetime(1970,1,1) + timedelta(days=19079)

datetime.datetime(2022, 3, 28, 0, 0)

## Get a Dataframe now

Let's pandalize the result.

In [30]:
df = pd.json_normalize(json.loads(r.content), record_path=['d', 'QuoteTab'])
df

         d         o         h         l          c  v
0    18898   72.6505   73.0308   72.4040   72.88950  0
1    18899   72.8915   72.9675   72.5880   72.88700  0
2    18900   72.8866   72.9870   72.5890   72.71000  0
3    18901   72.7315   73.2500   72.6575   72.66890  0
4    18904   72.7270   72.9995   72.4030   72.49250  0
..     ...       ...       ...       ...        ... ..
124  19072  101.1175  110.2500  101.1175  106.65000  0
125  19073  106.6500  109.7500  102.9999  106.00000  0
126  19074  106.0000  107.0000   95.0000   96.74995  0
127  19075   96.7500  103.5000   95.8749  102.25000  0
128  19076  102.2500  104.0000   97.6244  104.00000  0

[129 rows x 6 columns]

In [34]:
# convert d to date
df['d'] = df['d'].map(lambda d: datetime.datetime(1970,1,1) + timedelta(days=d))
df

             d         o         h         l          c  v
0   2021-09-28   72.6505   73.0308   72.4040   72.88950  0
1   2021-09-29   72.8915   72.9675   72.5880   72.88700  0
2   2021-09-30   72.8866   72.9870   72.5890   72.71000  0
3   2021-10-01   72.7315   73.2500   72.6575   72.66890  0
4   2021-10-04   72.7270   72.9995   72.4030   72.49250  0
..         ...       ...       ...       ...        ... ..
124 2022-03-21  101.1175  110.2500  101.1175  106.65000  0
125 2022-03-22  106.6500  109.7500  102.9999  106.00000  0
126 2022-03-23  106.0000  107.0000   95.0000   96.74995  0
127 2022-03-24   96.7500  103.5000   95.8749  102.25000  0
128 2022-03-25  102.2500  104.0000   97.6244  104.00000  0

[129 rows x 6 columns]

In [37]:
col_mappings: dict = {
                          'd': 'date',
                          'o': 'ouv',
                          'h': 'haut',
                          'l': 'bas',
                          'c': 'clot',
                          'v': 'vol'
                          }
df.rename(columns=col_mappings, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    129 non-null    datetime64[ns]
 1   ouv     129 non-null    float64
 2   haut    129 non-null    float64
 3   bas     129 non-null    float64
 4   clot    129 non-null    float64
 5   vol     129 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 6.2 KB

In [38]:
df

          date       ouv      haut       bas       clot  vol
0   2021-09-28   72.6505   73.0308   72.4040   72.88950    0
1   2021-09-29   72.8915   72.9675   72.5880   72.88700    0
2   2021-09-30   72.8866   72.9870   72.5890   72.71000    0
3   2021-10-01   72.7315   73.2500   72.6575   72.66890    0
4   2021-10-04   72.7270   72.9995   72.4030   72.49250    0
..         ...       ...       ...       ...        ...  ...
124 2022-03-21  101.1175  110.2500  101.1175  106.65000    0
125 2022-03-22  106.6500  109.7500  102.9999  106.00000    0
126 2022-03-23  106.0000  107.0000   95.0000   96.74995    0
127 2022-03-24   96.7500  103.5000   95.8749  102.25000    0
128 2022-03-25  102.2500  104.0000   97.6244  104.00000    0

[129 rows x 6 columns]

In [42]:
from datetime import date
today = date.today().strftime('%Y%M%d')
today

'20220028'

In [43]:
%cd ..

C:\Users\ROSA_L\PycharmProjects\scraper

In [49]:
from iea_scraper.core import factory
job = factory.get_scraper_job('com_boursorama', 'usd_rub_rate', full_load=True)
job.run()

2022-03-28 12:09:48,205 - iea_scraper.core.factory - DEBUG - Loading module iea_scraper.jobs.com_boursorama.usd_rub_rate
2022-03-28 12:09:48,207 - iea_scraper.core.factory - DEBUG - Getting class UsdRubRateJob
2022-03-28 12:09:48,208 - iea_scraper.core.job - INFO - Temporary table name: #boursorama_usd_rub_rates_temp, final table name: boursorama_usd_rub_rates_data
2022-03-28 12:09:48,209 - iea_scraper.jobs.com_boursorama.usd_rub_rate - INFO - Setting source to download 180 days of data.
2022-03-28 12:09:48,210 - iea_scraper.core.job - DEBUG - download: True, parallel download: True
2022-03-28 12:09:48,211 - iea_scraper.core.utils - INFO - Executing function download_source() over 1 items with a maximum of 15 parallel workers.
2022-03-28 12:09:48,218 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): www.boursorama.com:443
2022-03-28 12:09:48,346 - urllib3.connectionpool - DEBUG - https://www.boursorama.com:443 "GET /bourse/action/graph/ws/GetTicksEOD?symbol=1xUSDRUB&length=180&period=0&guid= HTTP/1.1" 200 2361
2022-03-28 12:09:48,351 - iea_scraper.core.job - DEBUG - 8351 bytes written to com_boursorama_us_ru_20220028.json.
2022-03-28 12:09:48,353 - iea_scraper.core.utils - INFO - Executing function calc_checksum_download() over 1 items with a maximum of 15 parallel workers.
2022-03-28 12:09:48,354 - iea_scraper.core.utils - INFO - Calculating checksum of file com_boursorama_us_ru_20220028.json
2022-03-28 12:09:48,366 - iea_scraper.core.utils - DEBUG - 8351 bytes read from com_boursorama_us_ru_20220028.json
2022-03-28 12:09:48,368 - iea_scraper.core.utils - INFO - Checksum calculated and appended to source with code 'com_boursorama_us_ru_20220028'
2022-03-28 12:09:48,370 - iea_scraper.core.utils - INFO - download_and_get_checksum: 160.00056266784668 ms
2022-03-28 12:09:48,371 - iea_scraper.core.job - DEBUG - rm_sources_up_to_date: processing com_boursorama_us_ru_20220028
2022-03-28 12:09:48,376 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2022-03-28 12:09:48,450 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/source?code=com_boursorama_us_ru_20220028 HTTP/1.1" 404 3
2022-03-28 12:09:48,452 - iea_scraper.core.job - DEBUG - Source code com_boursorama_us_ru_20220028 not found in dimension.source: it's a new source.
2022-03-28 12:09:48,453 - iea_scraper.core.utils - INFO - rm_sources_up_to_date: 82.0009708404541 ms
2022-03-28 12:09:48,454 - iea_scraper.core.job - DEBUG - Adding sources to dynamic_dim['source']...
2022-03-28 12:09:48,455 - iea_scraper.core.job - DEBUG - 1 sources added to self.dynamic_dim['source']
2022-03-28 12:09:48,456 - iea_scraper.core.job - DEBUG - remove_existing_dynamic_dim: query - http://vipenta:8000/dimension/source
2022-03-28 12:09:48,460 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2022-03-28 12:09:48,484 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/source HTTP/1.1" 200 84334
2022-03-28 12:09:48,490 - iea_scraper.core.job - DEBUG - self.dynamic_dim['source'] size before: 1
2022-03-28 12:09:48,491 - iea_scraper.core.job - DEBUG - self.dynamic_dim['source'] size after: 1
2022-03-28 12:09:48,492 - iea_scraper.core.job - DEBUG - Transforming provider ...
2022-03-28 12:09:48,493 - iea_scraper.core.job - DEBUG - Adding provider to dynamic_dim: com_boursorama
2022-03-28 12:09:48,494 - iea_scraper.core.job - DEBUG - remove_existing_dynamic_dim: query - http://vipenta:8000/dimension/provider
2022-03-28 12:09:48,499 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2022-03-28 12:09:48,533 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/provider HTTP/1.1" 200 2239
2022-03-28 12:09:48,536 - iea_scraper.core.job - DEBUG - self.dynamic_dim['provider'] size before: 1
2022-03-28 12:09:48,538 - iea_scraper.core.job - DEBUG - self.dynamic_dim['provider'] size after: 1
2022-03-28 12:09:48,539 - iea_scraper.jobs.com_boursorama.usd_rub_rate - INFO - Processing file com_boursorama_us_ru_20220028.json
2022-03-28 12:09:48,549 - iea_scraper.jobs.com_boursorama.usd_rub_rate - INFO - 129 rows read from com_boursorama_us_ru_20220028.json
2022-03-28 12:09:48,554 - iea_scraper.core.job - DEBUG - Running insert_new_dynamic_dim(): 2 items
2022-03-28 12:09:48,555 - iea_scraper.core.job - DEBUG - Processing source: size 1
2022-03-28 12:09:48,556 - iea_scraper.core.job - DEBUG - source: loading 1 rows
2022-03-28 12:09:48,560 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2022-03-28 12:09:48,737 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "POST /dimension/source HTTP/1.1" 201 10
2022-03-28 12:09:48,738 - root - DEBUG - Sending data to IEA External DB - Batch[1]: 1 rows
2022-03-28 12:09:48,739 - root - INFO - 1 items sent to IEA External DB API instance at: http://vipenta:8000/dimension/source
2022-03-28 12:09:48,740 - iea_scraper.core.job - DEBUG - Processing provider: size 1
2022-03-28 12:09:48,742 - iea_scraper.core.job - DEBUG - provider: loading 1 rows
2022-03-28 12:09:48,745 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2022-03-28 12:09:48,777 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "POST /dimension/provider HTTP/1.1" 201 10
2022-03-28 12:09:48,778 - root - DEBUG - Sending data to IEA External DB - Batch[1]: 1 rows
2022-03-28 12:09:48,779 - root - INFO - 1 items sent to IEA External DB API instance at: http://vipenta:8000/dimension/provider
2022-03-28 12:09:48,780 - iea_scraper.core.utils - INFO - insert_new_dynamic_dim: 225.99458694458008 ms
2022-03-28 12:09:48,782 - iea_scraper.core.job - INFO - Writing to database.
2022-03-28 12:09:48,783 - iea_scraper.core.job - DEBUG - Database: mssql+pyodbc://omr:Sekiyu8trd@vipenta.iea.org/external_db_dev?driver=ODBC+Driver+17+for+SQL+Server
2022-03-28 12:09:48,865 - iea_scraper.core.job - DEBUG - Sending truncate table statement
2022-03-28 12:09:48,867 - iea_scraper.core.job - INFO - Creating schema main
2022-03-28 12:09:49,155 - iea_scraper.core.job - INFO - Schema main already exists.
2022-03-28 12:09:49,156 - iea_scraper.core.job - INFO - Loading 129 rows to database.
2022-03-28 12:09:49,169 - iea_scraper.core.job - DEBUG - Creating table boursorama_usd_rub_rates_data with these columns: Index(['date', 'ouv', 'haut', 'bas', 'clot', 'vol', 'date_created',
       'date_modified'],
      dtype='object')
2022-03-28 12:09:49,461 - iea_scraper.core.job - WARNING - Could not grant select to [IEA_EXTERNAL-DB_READ] on main.boursorama_usd_rub_rates_data
2022-03-28 12:09:49,465 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2022-03-28 12:09:49,475 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/source?code=com_boursorama_us_ru_20220028 HTTP/1.1" 200 738
2022-03-28 12:09:49,479 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2022-03-28 12:09:50,691 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "PUT /dimension/source/183 HTTP/1.1" 201 10
2022-03-28 12:09:50,693 - iea_scraper.core.utils - INFO - update_sources_metadata: 1230.9999465942383 ms

In [52]:
job = factory.get_scraper_job('com_boursorama', 'usd_rub_rate')
job.run()

2022-03-28 12:35:49,394 - iea_scraper.core.factory - DEBUG - Loading module iea_scraper.jobs.com_boursorama.usd_rub_rate
2022-03-28 12:35:49,396 - iea_scraper.core.factory - DEBUG - Getting class UsdRubRateJob
2022-03-28 12:35:49,397 - iea_scraper.core.job - INFO - Temporary table name: #boursorama_usd_rub_rates_temp, final table name: boursorama_usd_rub_rates_data
2022-03-28 12:35:49,398 - iea_scraper.core.job - DEBUG - download: True, parallel download: True
2022-03-28 12:35:49,400 - iea_scraper.core.utils - INFO - Executing function download_source() over 1 items with a maximum of 15 parallel workers.
2022-03-28 12:35:49,406 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): www.boursorama.com:443
2022-03-28 12:35:49,528 - urllib3.connectionpool - DEBUG - https://www.boursorama.com:443 "GET /bourse/action/graph/ws/GetTicksEOD?symbol=1xUSDRUB&length=180&period=0&guid= HTTP/1.1" 200 2361
2022-03-28 12:35:49,531 - iea_scraper.core.job - DEBUG - 8351 bytes written to com_boursorama_us_ru_20220028.json.
2022-03-28 12:35:49,533 - iea_scraper.core.utils - INFO - Executing function calc_checksum_download() over 1 items with a maximum of 15 parallel workers.
2022-03-28 12:35:49,535 - iea_scraper.core.utils - INFO - Calculating checksum of file com_boursorama_us_ru_20220028.json
2022-03-28 12:35:49,545 - iea_scraper.core.utils - DEBUG - 8351 bytes read from com_boursorama_us_ru_20220028.json
2022-03-28 12:35:49,547 - iea_scraper.core.utils - INFO - Checksum calculated and appended to source with code 'com_boursorama_us_ru_20220028'
2022-03-28 12:35:49,548 - iea_scraper.core.utils - INFO - download_and_get_checksum: 150.00247955322266 ms
2022-03-28 12:35:49,549 - iea_scraper.core.job - DEBUG - rm_sources_up_to_date: processing com_boursorama_us_ru_20220028
2022-03-28 12:35:49,553 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2022-03-28 12:35:49,564 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/source?code=com_boursorama_us_ru_20220028 HTTP/1.1" 200 761
2022-03-28 12:35:49,565 - iea_scraper.core.job - DEBUG - rm_sources_up_to_date: removing com_boursorama_us_ru_20220028 from self.sources
2022-03-28 12:35:49,566 - iea_scraper.core.utils - INFO - rm_sources_up_to_date: 17.006635665893555 ms
2022-03-28 12:35:49,567 - iea_scraper.core.job - DEBUG - Adding sources to dynamic_dim['source']...
2022-03-28 12:35:49,568 - iea_scraper.core.job - DEBUG - 0 sources added to self.dynamic_dim['source']
2022-03-28 12:35:49,569 - iea_scraper.core.job - DEBUG - remove_existing_dynamic_dim: query - http://vipenta:8000/dimension/source
2022-03-28 12:35:49,575 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2022-03-28 12:35:49,701 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/source HTTP/1.1" 200 85094
2022-03-28 12:35:49,704 - iea_scraper.core.job - DEBUG - self.dynamic_dim['source'] size before: 0
2022-03-28 12:35:49,705 - iea_scraper.core.job - DEBUG - self.dynamic_dim['source'] size after: 0
2022-03-28 12:35:49,706 - iea_scraper.core.job - DEBUG - Transforming provider ...
2022-03-28 12:35:49,707 - iea_scraper.core.job - DEBUG - Adding provider to dynamic_dim: com_boursorama
2022-03-28 12:35:49,708 - iea_scraper.core.job - DEBUG - remove_existing_dynamic_dim: query - http://vipenta:8000/dimension/provider
2022-03-28 12:35:49,712 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2022-03-28 12:35:49,721 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/provider HTTP/1.1" 200 2482
2022-03-28 12:35:49,724 - iea_scraper.core.job - DEBUG - self.dynamic_dim['provider'] size before: 1
2022-03-28 12:35:49,725 - iea_scraper.core.job - DEBUG - self.dynamic_dim['provider'] size after: 0
2022-03-28 12:35:49,725 - iea_scraper.jobs.com_boursorama.usd_rub_rate - INFO - No file to process.
2022-03-28 12:35:49,726 - iea_scraper.core.job - DEBUG - Running insert_new_dynamic_dim(): 2 items
2022-03-28 12:35:49,727 - iea_scraper.core.job - DEBUG - Processing source: size 0
2022-03-28 12:35:49,729 - iea_scraper.core.job - DEBUG - Processing provider: size 0
2022-03-28 12:35:49,730 - iea_scraper.core.utils - INFO - insert_new_dynamic_dim: 3.996610641479492 ms
2022-03-28 12:35:49,730 - iea_scraper.core.job - INFO - Writing to database.
2022-03-28 12:35:49,731 - iea_scraper.core.job - INFO - No data to load into the database.
2022-03-28 12:35:49,732 - iea_scraper.core.utils - INFO - update_sources_metadata: 0.0 ms

In [45]:
%conda install -y pycountry

Collecting package metadata (current_repodata.json): ...working... done
Note: you may need to restart the kernel to use updated packages.
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\ROSA_L\AppData\Local\Continuum\Anaconda3

  added / updated specs:
    - pycountry


The following NEW packages will be INSTALLED:

  pycountry          conda-forge/noarch::pycountry-20.7.3-pyh9f0ad1d_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

WARNING conda.gateways.disk.delete:unlink_or_rename_to_trash(143): Could not remove or rename C:\Users\ROSA_L\AppData\Local\Continuum\Anaconda3\pkgs\_openmp_mutex-4.5-1_gnu.tar.bz2.  Please remove this file manually (you may need to reboot to free file handles)