# Denmark monthly field-by-field oil production data

Link: https://ens.dk/sites/ens.dk/files/OlieGas/HTM_GIF/mp201801ofu.htm
      https://ens.dk/sites/ens.dk/files/OlieGas/HTM_GIF/mp201907ofu.htm

In [2]:
%cd ..

C:\Users\ROSA_L\PycharmProjects\scraper

In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd

df = pd.read_html('https://ens.dk/sites/ens.dk/files/OlieGas/HTM_GIF/mp201801ofu.htm')[0]
df[0:30]

,0,1,2,3,4,5
0,"Danish Production of Oil, Gas and Water for Ja...",NaN,NaN,NaN,NaN,NaN
1,"Oil, 1000 barrels",January 2018,Oct17-Dec17,Oct16-Dec16,This year,NaN
2,Field,Monthly,Daily Avg.,Daily Avg.,Daily Avg.,NaN
3,Dan,5980,193,212,211,5980
4,Gorm,1511,49,60,63,1511
5,Skjold,2172,70,96,107,2172
6,Tyra,2091,67,68,68,2091
7,Rolf,211,07,08,12,211
8,Kraka,691,22,19,20,691
9,Dagmar,-,-,-,-,-
10,Regnar,-,-,-,-,-
11,Valdemar,3614,117,105,136,3614
12,Roar,569,18,19,04,569
13,Svend,-,-,-,-,-
14,Harald,56,02,02,04,56
15,Lulita,99,03,06,05,99
16,Halfdan,1.4760,476,477,467,1.4760
17,Siri,1060,34,30,37,1060
18,Syd Arne,3120,101,121,173,3120
19,Tyra SE,2278,73,66,59,2278
20,Cecilie,192,06,05,07,192
21,Nini,863,28,26,50,863
22,Ravn,73,02,02,-,73
23,Total,3.9338,1269,1324,1421,3.9338
24,NaN,NaN,NaN,NaN,NaN,NaN
25,"Gas, MMscf",January 2018,Oct17-Dec17,Oct16-Dec16,This year,NaN
26,Field,Monthly,Daily Avg.,Daily Avg.,Daily Avg.,NaN
27,Dan,9838,317,358,310,9838
28,Gorm,1009,33,51,53,1009
29,Skjold,1661,54,114,57,1661

In [4]:
#breakIndex = df.loc[df[0]df.isnull().values.any()].index
# all columns null is a break between tables
break_indexes = df[df.isnull().all(axis=1)].index
break_indexes[0]

24

In [5]:
oil_table_start = 3
oil_table_end = break_indexes[0]
table = df[oil_table_start:oil_table_end]
table.columns = df.loc[2].values
table = table[['Field', 'Monthly']]
table['Monthly'].replace('-', 0, inplace=True)

In [6]:
table

       Field Monthly
3        Dan    5980
4       Gorm    1511
5     Skjold    2172
6       Tyra    2091
7       Rolf     211
8      Kraka     691
9     Dagmar       0
10    Regnar       0
11  Valdemar    3614
12      Roar     569
13     Svend       0
14    Harald      56
15    Lulita      99
16   Halfdan  1.4760
17      Siri    1060
18  Syd Arne    3120
19   Tyra SE    2278
20   Cecilie     192
21      Nini     863
22      Ravn      73
23     Total  3.9338

In [59]:
from datetime import date
int(date.today().replace(day=1).strftime('%Y%m')) - 2

201907

In [7]:
table.rename(columns={'Field': 'entity',
                       'Monthly': 'value'})

      entity   value
3        Dan    5980
4       Gorm    1511
5     Skjold    2172
6       Tyra    2091
7       Rolf     211
8      Kraka     691
9     Dagmar       0
10    Regnar       0
11  Valdemar    3614
12      Roar     569
13     Svend       0
14    Harald      56
15    Lulita      99
16   Halfdan  1.4760
17      Siri    1060
18  Syd Arne    3120
19   Tyra SE    2278
20   Cecilie     192
21      Nini     863
22      Ravn      73
23     Total  3.9338

In [36]:
from datetime import datetime
header = df.iloc[0,0].split(' ')
period = ' '.join(header[-2:])
dt = datetime.strptime(period, '%B %Y').date()
dt.month, dt.year

(1, 2018)

In [64]:
#table.drop(columns=['entity'], inplace=True)
table.entity = table.apply(lambda x: f'DK_ENS_{x["Field"].upper()}', axis=1)
table

       Field Monthly
3        Dan    5980
4       Gorm    1511
5     Skjold    2172
6       Tyra    2091
7       Rolf     211
8      Kraka     691
9     Dagmar       0
10    Regnar       0
11  Valdemar    3614
12      Roar     569
13     Svend       0
14    Harald      56
15    Lulita      99
16   Halfdan  1.4760
17      Siri    1060
18  Syd Arne    3120
19   Tyra SE    2278
20   Cecilie     192
21      Nini     863
22      Ravn      73
23     Total  3.9338

In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import logging
import sys

root = logging.getLogger()
root.setLevel(logging.DEBUG)

handler = logging.StreamHandler(sys.stdout)
handler.setLevel(logging.DEBUG)
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
handler.setFormatter(formatter)
root.addHandler(handler)

In [4]:
from scraper.core.job import Job
from scraper.jobs.dk_ens.job import DenmarkOilProdJob
from scraper.settings import API_END_POINT, FILE_STORE_PATH
import sys, traceback
try:
    dk = DenmarkOilProdJob()
    dk.run()

except:
    print("Exception in user code:")
    print('-'*60)
    traceback.print_exc(file=sys.stdout)
    print('-'*60)

2020-03-03 11:08:52,009 - scraper.jobs.dk_ens.job - DEBUG - Generating sources...
2020-03-03 11:08:52,013 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2020-03-03 11:08:52,499 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/source HTTP/1.1" 200 707658
2020-03-03 11:08:52,518 - scraper.core.job - DEBUG - download: True, parallel download: True
2020-03-03 11:08:52,519 - scraper.jobs.dk_ens.job - DEBUG - calling super(cls, cls).download_source(source)
2020-03-03 11:08:52,522 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): ens.dk:443
2020-03-03 11:08:52,779 - urllib3.connectionpool - DEBUG - https://ens.dk:443 "GET /sites/ens.dk/files/OlieGas/HTM_GIF/mp202002ofu.htm HTTP/1.1" 404 6131
2020-03-03 11:08:52,782 - scraper.core.job - ERROR - Issue Download Error
 url: https://ens.dk/sites/ens.dk/files/OlieGas/HTM_GIF/mp202002ofu.htm

In [29]:
[vars(source) for source in dk.sources]

[{'code': 'dk_ens_crudeoil_201910',
  'url': 'https://ens.dk/sites/ens.dk/files/OlieGas/HTM_GIF/mp201910ofu.htm',
  'path': 'dk_ens_crudeoil_201910.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201910'}]

In [27]:
from datetime import date
from dateutil.relativedelta import relativedelta
import pandas as pd

PUBLICATION_DELAY=2
current_period = date.today().replace(day=1) - relativedelta(months=PUBLICATION_DELAY)
start_date = current_period
end_date = current_period
print(f"s: P{start_date} e: {end_date}")
[x for x in pd.date_range(start_date, end_date, freq='MS')]

s: P2019-09-01 e: 2019-09-01

[Timestamp('2019-09-01 00:00:00', freq='MS')]

In [24]:
import pandas as pd
pd.read_html('C:\\Users\\ROSA_L\\PycharmProjects\\scrapper\\filestore\\mp201106ofu.htm')[0]

ValueError: No tables found

In [45]:
import pandas as pd

df_excel = pd.read_excel('G:\\OMRsupply\\Input files\\Denmark.xlsm', sheet_name='Jun2011')
df_excel.replace('I alt', 'Total')
df_excel.append(pd.Series(), ignore_index=True)
df_excel.to_html('C:\\Users\\ROSA_L\\Downloads\\DK\\dk_ens_crudeoil_201106.html', index_names=False)

In [55]:
df_excel = pd.read_html('C:\\Users\\ROSA_L\\Downloads\\DK\\dk_ens_crudeoil_201106.html')
df_excel

[                                                   0        1              2   \
 0   Danish Production of Oil, Gas and Water for Ju...      NaN            NaN
 1                                   Oil, 1000 barrels   Jun-11  mar 11-maj 11
 2                                                 NaN      NaN            NaN
 3                                               Field  Monthly     Daily Avg.
 4                                                 Dan   1.3988            466
 5                                                Gorm     3288            110
 6                                              Skjold     3824            127
 7                                                Tyra     3941            131
 8                                                Rolf        -              -
 9                                               Kraka     1134             38
 10                                             Dagmar        -              -
 11                                             Regnar        -              -
 12                                           Valdemar     3342            111
 13                                               Roar       80             03
 14                                              Svend      922             31
 15                                             Harald      607             20
 16                                             Lulita      210             07
 17                                            Halfdan   2.6984            899
 18                                               Siri      534             18
 19                                           Syd Arne     5486            183
 20                                            Tyra SE     1007             34
 21                                            Cecilie      136             05
 22                                               Nini     2217             74
 23                                              I alt   6.7701           2257
 24                                                NaN      NaN            NaN
 25                                                NaN      NaN            NaN

                3           4        5   6   7   8   9   10  11
 0             NaN         NaN      NaN NaN NaN NaN NaN NaN NaN
 1   mar 10-maj 10   This Year      NaN NaN NaN NaN NaN NaN NaN
 2             NaN         NaN      NaN NaN NaN NaN NaN NaN NaN
 3      Daily Avg.  Daily Avg.      NaN NaN NaN NaN NaN NaN NaN
 4             466         517   8.4138 NaN NaN NaN NaN NaN NaN
 5             120         176   2.2327 NaN NaN NaN NaN NaN NaN
 6             113         143   2.2011 NaN NaN NaN NaN NaN NaN
 7             150         158   2.6928 NaN NaN NaN NaN NaN NaN
 8              00          12       54 NaN NaN NaN NaN NaN NaN
 9              36          10     5116 NaN NaN NaN NaN NaN NaN
 10              -           -        - NaN NaN NaN NaN NaN NaN
 11              -           -        - NaN NaN NaN NaN NaN NaN
 12            151         164   2.6618 NaN NaN NaN NaN NaN NaN
 13             03          05      574 NaN NaN NaN NaN NaN NaN
 14             23          43     2994 NaN NaN NaN NaN NaN NaN
 15             18          10     3095 NaN NaN NaN NaN NaN NaN
 16             07          08     1141 NaN NaN NaN NaN NaN NaN
 17            874         894  15.9590 NaN NaN NaN NaN NaN NaN
 18             38          69     6381 NaN NaN NaN NaN NaN NaN
 19            204         194   3.6688 NaN NaN NaN NaN NaN NaN
 20             37          47     6549 NaN NaN NaN NaN NaN NaN
 21             10          07     1478 NaN NaN NaN NaN NaN NaN
 22            117         112   1.8820 NaN NaN NaN NaN NaN NaN
 23           2366        2569  42.4501 NaN NaN NaN NaN NaN NaN
 24            NaN         NaN      NaN NaN NaN NaN NaN NaN NaN
 25            NaN         NaN      NaN NaN NaN NaN NaN NaN NaN  ]

In [17]:
# convert historical data from denmark to html so we can read it with our process
import win32com.client as win32
from win32com.client import constants as c
import datetime
import pandas as pd

start=datetime.datetime(2012, 8, 1)
end=datetime.datetime(2013, 9, 1)
date_range = pd.date_range(start, end, freq='BM')
excel = win32.gencache.EnsureDispatch('Excel.Application') 
wb = excel.Workbooks.Open(r'G:\\OMRsupply\\Input files\\Denmark.xlsm') 
excel.Visible = True

for i, d in enumerate(date_range, 1):
    try:
        sheet = d.strftime("%b%Y")
        sheet_range = '$A$1:$L$25' if d > datetime.datetime(2015, 5, 1) else '$A$1:$F$24'
        ws = wb.Worksheets(sheet)
        dt = d.strftime("%Y%m")
        filename = f'C:\\Users\\ROSA_L\\Downloads\\DK\\dk_ens_crudeoil_{dt}.html'
        print(f'i: {i} d: {d} f: {filename} range {sheet_range}')
        x = wb.PublishObjects.Add(SourceType=c.xlSourceRange,Filename=filename,Sheet=sheet,Source=sheet_range,HtmlType=c.xlHtmlStatic, DivID='xxx1')
        #x.PublishObjects(1).Publish(True)
        x.Publish(True)
        print(f'period {d} saved')
    except Exception as e:
        print(e)
print("Fini")

i: 1 d: 2012-08-31 00:00:00 f: C:\Users\ROSA_L\Downloads\DK\dk_ens_crudeoil_201208.html range $A$1:$F$24
period 2012-08-31 00:00:00 saved
i: 2 d: 2012-09-28 00:00:00 f: C:\Users\ROSA_L\Downloads\DK\dk_ens_crudeoil_201209.html range $A$1:$F$24
period 2012-09-28 00:00:00 saved
i: 3 d: 2012-10-31 00:00:00 f: C:\Users\ROSA_L\Downloads\DK\dk_ens_crudeoil_201210.html range $A$1:$F$24
period 2012-10-31 00:00:00 saved
i: 4 d: 2012-11-30 00:00:00 f: C:\Users\ROSA_L\Downloads\DK\dk_ens_crudeoil_201211.html range $A$1:$F$24
period 2012-11-30 00:00:00 saved
i: 5 d: 2012-12-31 00:00:00 f: C:\Users\ROSA_L\Downloads\DK\dk_ens_crudeoil_201212.html range $A$1:$F$24
period 2012-12-31 00:00:00 saved
i: 6 d: 2013-01-31 00:00:00 f: C:\Users\ROSA_L\Downloads\DK\dk_ens_crudeoil_201301.html range $A$1:$F$24
period 2013-01-31 00:00:00 saved
i: 7 d: 2013-02-28 00:00:00 f: C:\Users\ROSA_L\Downloads\DK\dk_ens_crudeoil_201302.html range $A$1:$F$24
period 2013-02-28 00:00:00 saved
i: 8 d: 2013-03-29 00:00:00 f: C:\Users\ROSA_L\Downloads\DK\dk_ens_crudeoil_201303.html range $A$1:$F$24
period 2013-03-29 00:00:00 saved
i: 9 d: 2013-04-30 00:00:00 f: C:\Users\ROSA_L\Downloads\DK\dk_ens_crudeoil_201304.html range $A$1:$F$24
period 2013-04-30 00:00:00 saved
i: 10 d: 2013-05-31 00:00:00 f: C:\Users\ROSA_L\Downloads\DK\dk_ens_crudeoil_201305.html range $A$1:$F$24
period 2013-05-31 00:00:00 saved
i: 11 d: 2013-06-28 00:00:00 f: C:\Users\ROSA_L\Downloads\DK\dk_ens_crudeoil_201306.html range $A$1:$F$24
period 2013-06-28 00:00:00 saved
i: 12 d: 2013-07-31 00:00:00 f: C:\Users\ROSA_L\Downloads\DK\dk_ens_crudeoil_201307.html range $A$1:$F$24
period 2013-07-31 00:00:00 saved
i: 13 d: 2013-08-30 00:00:00 f: C:\Users\ROSA_L\Downloads\DK\dk_ens_crudeoil_201308.html range $A$1:$F$24
period 2013-08-30 00:00:00 saved
Fini

In [90]:
from datetime import date
source = "dk_ens_crudeoil_200801" 
period = source.split('_')[-1]
date_period =date(int(period[0:4]), int(period[-2:]), 1)
print(f"date: {date_period}")

date: 2008-01-01

In [16]:
import pandas as pd

THOUSANDS_SEP = '.'
DECIMAL_SEP = ','

df = pd.read_html("file:///C:/Users/ROSA_L/PycharmProjects/scrapper/filestore/dk_ens_crudeoil_201611.html",  thousands=THOUSANDS_SEP, decimal=DECIMAL_SEP)
df = df[0]
field_text_indexes = df[df.apply(lambda r: r.str.contains('Field', case=True).any(), axis=1)].index
oil_table_start = field_text_indexes[0]
table = df[oil_table_start:]
break_indexes = table[df.apply(lambda r: r.str.contains('Total', case=True).any(), axis=1)].index
df.columns = df.loc[oil_table_start].values
oil_table_end = break_indexes[0]
table = df[oil_table_start+1:oil_table_end]
table = table[['Field', 'Monthly']]
table['Monthly'].replace('-', "0", inplace=True)
table['value'] = table['Monthly'].astype(float)
table
df

c:\users\rosa_l\pycharmprojects\scrapper\venv\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # This is added back by InteractiveShellApp.init_path()

,Field,Monthly,Daily Avg.,Daily Avg.,Daily Avg.,nan,nan,nan,nan,nan,nan,nan
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Oil, 1000 barrels",Nov-16,aug 16-okt 16,aug 15-okt 15,This Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Field,Monthly,Daily Avg.,Daily Avg.,Daily Avg.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Dan,6311,21,219,272,7.75280,NaN,NaN,NaN,NaN,NaN,NaN
6,Gorm,198,66,63,8,2.07730,NaN,NaN,NaN,NaN,NaN,NaN
7,Skjold,3187,106,88,84,2.92040,NaN,NaN,NaN,NaN,NaN,NaN
8,Tyra,2152,72,73,85,2.51970,NaN,NaN,NaN,NaN,NaN,NaN
9,Rolf,39,13,1,3,4387,NaN,NaN,NaN,NaN,NaN,NaN
10,Kraka,569,19,21,27,6824,NaN,NaN,NaN,NaN,NaN,NaN
11,Dagmar,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
12,Regnar,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
13,Valdemar,4262,142,144,143,4.14420,NaN,NaN,NaN,NaN,NaN,NaN
14,Roar,51,02,03,01,398,NaN,NaN,NaN,NaN,NaN,NaN
15,Svend,-,-,-,23,-,NaN,NaN,NaN,NaN,NaN,NaN
16,Harald,167,06,04,04,141,NaN,NaN,NaN,NaN,NaN,NaN
17,Lulita,247,08,06,-,1998,NaN,NaN,NaN,NaN,NaN,NaN
18,Halfdan,1.43480,478,481,541,16.10570,NaN,NaN,NaN,NaN,NaN,NaN
19,Siri,1028,34,34,25,1.18310,NaN,NaN,NaN,NaN,NaN,NaN
20,Syd Arne,5241,175,131,179,5.42100,NaN,NaN,NaN,NaN,NaN,NaN
21,Tyra SE,1646,55,68,28,1.60190,NaN,NaN,NaN,NaN,NaN,NaN
22,Cecilie,199,07,06,04,225,NaN,NaN,NaN,NaN,NaN,NaN
23,Nini,1443,48,51,38,1.79220,NaN,NaN,NaN,NaN,NaN,NaN
24,Total,4.32210,1441,1404,1562,47.24490,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
import datetime

start=datetime.datetime(2011, 1, 1)
end=datetime.datetime(2017, 12, 1)
date_range = pd.date_range(start, end, freq='BM')
for d in date_range:
    print(d.strftime("%b%Y"))

Jan2011
Feb2011
Mar2011
Apr2011
May2011
Jun2011
Jul2011
Aug2011
Sep2011
Oct2011
Nov2011
Dec2011
Jan2012
Feb2012
Mar2012
Apr2012
May2012
Jun2012
Jul2012
Aug2012
Sep2012
Oct2012
Nov2012
Dec2012
Jan2013
Feb2013
Mar2013
Apr2013
May2013
Jun2013
Jul2013
Aug2013
Sep2013
Oct2013
Nov2013
Dec2013
Jan2014
Feb2014
Mar2014
Apr2014
May2014
Jun2014
Jul2014
Aug2014
Sep2014
Oct2014
Nov2014
Dec2014
Jan2015
Feb2015
Mar2015
Apr2015
May2015
Jun2015
Jul2015
Aug2015
Sep2015
Oct2015
Nov2015
Dec2015
Jan2016
Feb2016
Mar2016
Apr2016
May2016
Jun2016
Jul2016
Aug2016
Sep2016
Oct2016
Nov2016
Dec2016
Jan2017
Feb2017
Mar2017
Apr2017
May2017
Jun2017
Jul2017
Aug2017
Sep2017
Oct2017
Nov2017

In [39]:
import requests
r = requests.get('https://ens.dk/sites/ens.dk/files/OlieGas/HTM_GIF/mp201909ofu.htm', verify=False)
print(r.status_code)

404

c:\users\rosa_l\pycharmprojects\scrapper\venv\lib\site-packages\urllib3\connectionpool.py:857: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [8]:
e = OSError("Test")
logger.warning(e)
print(e)

Test

In [168]:
[vars(src) for src in dk.sources]

[{'code': 'dk_ens_crudeoil_201909',
  'url': 'https://ens.dk/sites/ens.dk/files/OlieGas/HTM_GIF/mp201909ofu.htm',
  'path': 'dk_ens_crudeoil_201909.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201909'}]

In [25]:
from itertools import chain, product
lista = chain(product(reversed(range(2019, 2020)), reversed(range(1, 8))), product(reversed(range(2017, 2019)), reversed(range(1, 13))))
[l for l in lista]

[(2019, 7),
 (2019, 6),
 (2019, 5),
 (2019, 4),
 (2019, 3),
 (2019, 2),
 (2019, 1),
 (2018, 12),
 (2018, 11),
 (2018, 10),
 (2018, 9),
 (2018, 8),
 (2018, 7),
 (2018, 6),
 (2018, 5),
 (2018, 4),
 (2018, 3),
 (2018, 2),
 (2018, 1),
 (2017, 12),
 (2017, 11),
 (2017, 10),
 (2017, 9),
 (2017, 8),
 (2017, 7),
 (2017, 6),
 (2017, 5),
 (2017, 4),
 (2017, 3),
 (2017, 2),
 (2017, 1)]

In [50]:
dk.download_and_get_checksum(True)

## Fixing get_source() to get existing months
Sometimes, we silently lose DK months that don't get processed.
It happens when they publish their numbers with a delay greater than expected (one month): in this case, our process shift to the following month and lose the latest published data.

To fix it, we need to get the available data in https://ens.dk/en/our-services/oil-and-gas-related-data/monthly-and-yearly-production

In [22]:
import requests
from bs4 import BeautifulSoup

response = requests.get('https://ens.dk/en/our-services/oil-and-gas-related-data/monthly-and-yearly-production')

if not response.ok:
    response.raise_for_status()
    
bf = BeautifulSoup(response.content)

In [79]:
import re
from datetime import datetime

#bf.find('table').find('tbody').find_all('tr')[0].find_all('td')[1]

source_list = bf.find_all('a', href=re.compile('ofu.htm'))

formatted_list = ({'period': datetime.strptime(s.text, '%B %Y').date(), 'url': s['href']} for s in source_list)

latest_source = next(iter(sorted(formatted_list, key=lambda x: x['period'], reverse=True)))
latest_source['period']

datetime.date(2020, 11, 1)

In [31]:
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta
# First period with data in history
START_PERIOD = date(2011, 6, 1)
# First period available online
START_DOWNLOAD = date(2018, 1, 1)

last_offline = START_DOWNLOAD + relativedelta(months=-1)

l = reversed(pd.date_range(START_PERIOD, last_offline, freq='MS'))

In [32]:
for i in l:
    mydate = i.date()
    print(type(mydate))
    print(i)

<class 'datetime.date'>
2017-12-01 00:00:00
<class 'datetime.date'>
2017-11-01 00:00:00
<class 'datetime.date'>
2017-10-01 00:00:00
<class 'datetime.date'>
2017-09-01 00:00:00
<class 'datetime.date'>
2017-08-01 00:00:00
<class 'datetime.date'>
2017-07-01 00:00:00
<class 'datetime.date'>
2017-06-01 00:00:00
<class 'datetime.date'>
2017-05-01 00:00:00
<class 'datetime.date'>
2017-04-01 00:00:00
<class 'datetime.date'>
2017-03-01 00:00:00
<class 'datetime.date'>
2017-02-01 00:00:00
<class 'datetime.date'>
2017-01-01 00:00:00
<class 'datetime.date'>
2016-12-01 00:00:00
<class 'datetime.date'>
2016-11-01 00:00:00
<class 'datetime.date'>
2016-10-01 00:00:00
<class 'datetime.date'>
2016-09-01 00:00:00
<class 'datetime.date'>
2016-08-01 00:00:00
<class 'datetime.date'>
2016-07-01 00:00:00
<class 'datetime.date'>
2016-06-01 00:00:00
<class 'datetime.date'>
2016-05-01 00:00:00
<class 'datetime.date'>
2016-04-01 00:00:00
<class 'datetime.date'>
2016-03-01 00:00:00
<class 'datetime.date'>
2016-02-01 00:00:00
<class 'datetime.date'>
2016-01-01 00:00:00
<class 'datetime.date'>
2015-12-01 00:00:00
<class 'datetime.date'>
2015-11-01 00:00:00
<class 'datetime.date'>
2015-10-01 00:00:00
<class 'datetime.date'>
2015-09-01 00:00:00
<class 'datetime.date'>
2015-08-01 00:00:00
<class 'datetime.date'>
2015-07-01 00:00:00
<class 'datetime.date'>
2015-06-01 00:00:00
<class 'datetime.date'>
2015-05-01 00:00:00
<class 'datetime.date'>
2015-04-01 00:00:00
<class 'datetime.date'>
2015-03-01 00:00:00
<class 'datetime.date'>
2015-02-01 00:00:00
<class 'datetime.date'>
2015-01-01 00:00:00
<class 'datetime.date'>
2014-12-01 00:00:00
<class 'datetime.date'>
2014-11-01 00:00:00
<class 'datetime.date'>
2014-10-01 00:00:00
<class 'datetime.date'>
2014-09-01 00:00:00
<class 'datetime.date'>
2014-08-01 00:00:00
<class 'datetime.date'>
2014-07-01 00:00:00
<class 'datetime.date'>
2014-06-01 00:00:00
<class 'datetime.date'>
2014-05-01 00:00:00
<class 'datetime.date'>
2014-04-01 00:00:00
<class 'datetime.date'>
2014-03-01 00:00:00
<class 'datetime.date'>
2014-02-01 00:00:00
<class 'datetime.date'>
2014-01-01 00:00:00
<class 'datetime.date'>
2013-12-01 00:00:00
<class 'datetime.date'>
2013-11-01 00:00:00
<class 'datetime.date'>
2013-10-01 00:00:00
<class 'datetime.date'>
2013-09-01 00:00:00
<class 'datetime.date'>
2013-08-01 00:00:00
<class 'datetime.date'>
2013-07-01 00:00:00
<class 'datetime.date'>
2013-06-01 00:00:00
<class 'datetime.date'>
2013-05-01 00:00:00
<class 'datetime.date'>
2013-04-01 00:00:00
<class 'datetime.date'>
2013-03-01 00:00:00
<class 'datetime.date'>
2013-02-01 00:00:00
<class 'datetime.date'>
2013-01-01 00:00:00
<class 'datetime.date'>
2012-12-01 00:00:00
<class 'datetime.date'>
2012-11-01 00:00:00
<class 'datetime.date'>
2012-10-01 00:00:00
<class 'datetime.date'>
2012-09-01 00:00:00
<class 'datetime.date'>
2012-08-01 00:00:00
<class 'datetime.date'>
2012-07-01 00:00:00
<class 'datetime.date'>
2012-06-01 00:00:00
<class 'datetime.date'>
2012-05-01 00:00:00
<class 'datetime.date'>
2012-04-01 00:00:00
<class 'datetime.date'>
2012-03-01 00:00:00
<class 'datetime.date'>
2012-02-01 00:00:00
<class 'datetime.date'>
2012-01-01 00:00:00
<class 'datetime.date'>
2011-12-01 00:00:00
<class 'datetime.date'>
2011-11-01 00:00:00
<class 'datetime.date'>
2011-10-01 00:00:00
<class 'datetime.date'>
2011-09-01 00:00:00
<class 'datetime.date'>
2011-08-01 00:00:00
<class 'datetime.date'>
2011-07-01 00:00:00
<class 'datetime.date'>
2011-06-01 00:00:00

In [10]:
from scraper.core import factory

job = factory.get_scraper_job('dk_ens', 'dk_oil_prod', full_load=True)

2021-02-24 15:41:35,446 - scraper.core.factory - DEBUG - Loading module scraper.jobs.dk_ens.dk_oil_prod
2021-02-24 15:41:35,447 - scraper.core.factory - DEBUG - Getting class DkOilProdJob

In [8]:
job.get_sources()

2021-02-24 15:39:29,613 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Generating sources...
2021-02-24 15:39:29,615 - scraper.jobs.dk_ens.dk_oil_prod - INFO - Getting list of online sources from https://ens.dk/en/our-services/oil-and-gas-related-data/monthly-and-yearly-production
2021-02-24 15:39:29,618 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): ens.dk:443
2021-02-24 15:39:29,967 - urllib3.connectionpool - DEBUG - https://ens.dk:443 "GET /en/our-services/oil-and-gas-related-data/monthly-and-yearly-production HTTP/1.1" 200 None
2021-02-24 15:39:30,058 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Parsing online sources (anchors with href containing ofu.htm)
2021-02-24 15:39:30,101 - scraper.jobs.dk_ens.dk_oil_prod - INFO - 37 online sources found in the website.
2021-02-24 15:39:30,103 - scraper.jobs.dk_ens.dk_oil_prod - INFO - Current period: 2021-01-01
2021-02-24 15:39:30,103 - scraper.jobs.dk_ens.dk_oil_prod - INFO - Loading all online periods plus those available offline
2021-02-24 15:39:30,104 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - First period online: 2018-01-01
2021-02-24 15:39:30,104 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Last period offline: 2017-12-01
2021-02-24 15:39:30,109 - scraper.core.job - DEBUG - remove_existing_dynamic_dim: query - http://vipenta:8000/dimension/source
2021-02-24 15:39:30,111 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2021-02-24 15:39:32,033 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/source HTTP/1.1" 200 748874
2021-02-24 15:39:33,216 - scraper.core.job - DEBUG - self.dynamic_dim['source'] size before: 116
2021-02-24 15:39:33,219 - scraper.core.job - DEBUG - self.dynamic_dim['source'] size after: 5

In [9]:
[vars(s) for s in job.sources]

[{'code': 'dk_ens_crudeoil_202101',
  'url': '/sites/ens.dk/files/OlieGas/mp202101ofu.htm',
  'path': 'dk_ens_crudeoil_202101.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 202101'},
 {'code': 'dk_ens_crudeoil_202012',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp202012ofu.htm',
  'path': 'dk_ens_crudeoil_202012.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 202012'},
 {'code': 'dk_ens_crudeoil_202011',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp202011ofu.htm',
  'path': 'dk_ens_crudeoil_202011.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 202011'},
 {'code': 'dk_ens_crudeoil_202010',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp202010ofu.htm',
  'path': 'dk_ens_crudeoil_202010.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 202010'},
 {'code': 'dk_ens_crudeoil_202009',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp202009ofu.htm',
  'path': 'dk_ens_crudeoil_202009.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 202009'},
 {'code': 'dk_ens_crudeoil_202008',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp202008ofu.htm',
  'path': 'dk_ens_crudeoil_202008.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 202008'},
 {'code': 'dk_ens_crudeoil_202007',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp202007ofu.htm',
  'path': 'dk_ens_crudeoil_202007.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 202007'},
 {'code': 'dk_ens_crudeoil_202006',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp202006ofu.htm',
  'path': 'dk_ens_crudeoil_202006.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 202006'},
 {'code': 'dk_ens_crudeoil_202005',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp202005ofu.htm',
  'path': 'dk_ens_crudeoil_202005.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 202005'},
 {'code': 'dk_ens_crudeoil_202004',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp202004ofu.htm',
  'path': 'dk_ens_crudeoil_202004.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 202004'},
 {'code': 'dk_ens_crudeoil_202003',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp202003ofu.htm',
  'path': 'dk_ens_crudeoil_202003.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 202003'},
 {'code': 'dk_ens_crudeoil_202002',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp202002ofu.htm',
  'path': 'dk_ens_crudeoil_202002.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 202002'},
 {'code': 'dk_ens_crudeoil_202001',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp202001ofu.htm',
  'path': 'dk_ens_crudeoil_202001.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 202001'},
 {'code': 'dk_ens_crudeoil_201912',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201912ofu.htm',
  'path': 'dk_ens_crudeoil_201912.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201912'},
 {'code': 'dk_ens_crudeoil_201911',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201911ofu.htm',
  'path': 'dk_ens_crudeoil_201911.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201911'},
 {'code': 'dk_ens_crudeoil_201910',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201910ofu.htm',
  'path': 'dk_ens_crudeoil_201910.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201910'},
 {'code': 'dk_ens_crudeoil_201909',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201909ofu.htm',
  'path': 'dk_ens_crudeoil_201909.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201909'},
 {'code': 'dk_ens_crudeoil_201908',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201908ofu.htm',
  'path': 'dk_ens_crudeoil_201908.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201908'},
 {'code': 'dk_ens_crudeoil_201907',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201907ofu.htm',
  'path': 'dk_ens_crudeoil_201907.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201907'},
 {'code': 'dk_ens_crudeoil_201906',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201906ofu.htm',
  'path': 'dk_ens_crudeoil_201906.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201906'},
 {'code': 'dk_ens_crudeoil_201905',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201905ofu.htm',
  'path': 'dk_ens_crudeoil_201905.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201905'},
 {'code': 'dk_ens_crudeoil_201904',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201904ofu.htm',
  'path': 'dk_ens_crudeoil_201904.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201904'},
 {'code': 'dk_ens_crudeoil_201903',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201903ofu.htm',
  'path': 'dk_ens_crudeoil_201903.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201903'},
 {'code': 'dk_ens_crudeoil_201902',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201902ofu.htm',
  'path': 'dk_ens_crudeoil_201902.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201902'},
 {'code': 'dk_ens_crudeoil_201901',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201901ofu.htm',
  'path': 'dk_ens_crudeoil_201901.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201901'},
 {'code': 'dk_ens_crudeoil_201812',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201812ofu.htm',
  'path': 'dk_ens_crudeoil_201812.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201812'},
 {'code': 'dk_ens_crudeoil_201811',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201811ofu.htm',
  'path': 'dk_ens_crudeoil_201811.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201811'},
 {'code': 'dk_ens_crudeoil_201810',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201810ofu.htm',
  'path': 'dk_ens_crudeoil_201810.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201810'},
 {'code': 'dk_ens_crudeoil_201809',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201809ofu.htm',
  'path': 'dk_ens_crudeoil_201809.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201809'},
 {'code': 'dk_ens_crudeoil_201808',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201808ofu.htm',
  'path': 'dk_ens_crudeoil_201808.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201808'},
 {'code': 'dk_ens_crudeoil_201807',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201807ofu.htm',
  'path': 'dk_ens_crudeoil_201807.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201807'},
 {'code': 'dk_ens_crudeoil_201806',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201806ofu.htm',
  'path': 'dk_ens_crudeoil_201806.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201806'},
 {'code': 'dk_ens_crudeoil_201805',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201805ofu.htm',
  'path': 'dk_ens_crudeoil_201805.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201805'},
 {'code': 'dk_ens_crudeoil_201804',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201804ofu.htm',
  'path': 'dk_ens_crudeoil_201804.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201804'},
 {'code': 'dk_ens_crudeoil_201803',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201803ofu.htm',
  'path': 'dk_ens_crudeoil_201803.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201803'},
 {'code': 'dk_ens_crudeoil_201802',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201802ofu.htm',
  'path': 'dk_ens_crudeoil_201802.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201802'},
 {'code': 'dk_ens_crudeoil_201801',
  'url': '/sites/ens.dk/files/OlieGas/HTM_GIF/mp201801ofu.htm',
  'path': 'dk_ens_crudeoil_201801.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201801'},
 {'code': 'dk_ens_crudeoil_201712',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201712.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201712'},
 {'code': 'dk_ens_crudeoil_201711',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201711.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201711'},
 {'code': 'dk_ens_crudeoil_201710',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201710.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201710'},
 {'code': 'dk_ens_crudeoil_201709',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201709.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201709'},
 {'code': 'dk_ens_crudeoil_201708',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201708.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201708'},
 {'code': 'dk_ens_crudeoil_201707',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201707.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201707'},
 {'code': 'dk_ens_crudeoil_201706',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201706.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201706'},
 {'code': 'dk_ens_crudeoil_201705',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201705.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201705'},
 {'code': 'dk_ens_crudeoil_201704',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201704.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201704'},
 {'code': 'dk_ens_crudeoil_201703',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201703.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201703'},
 {'code': 'dk_ens_crudeoil_201702',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201702.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201702'},
 {'code': 'dk_ens_crudeoil_201701',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201701.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201701'},
 {'code': 'dk_ens_crudeoil_201612',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201612.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201612'},
 {'code': 'dk_ens_crudeoil_201611',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201611.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201611'},
 {'code': 'dk_ens_crudeoil_201610',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201610.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201610'},
 {'code': 'dk_ens_crudeoil_201609',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201609.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201609'},
 {'code': 'dk_ens_crudeoil_201608',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201608.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201608'},
 {'code': 'dk_ens_crudeoil_201607',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201607.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201607'},
 {'code': 'dk_ens_crudeoil_201606',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201606.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201606'},
 {'code': 'dk_ens_crudeoil_201605',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201605.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201605'},
 {'code': 'dk_ens_crudeoil_201604',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201604.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201604'},
 {'code': 'dk_ens_crudeoil_201603',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201603.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201603'},
 {'code': 'dk_ens_crudeoil_201602',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201602.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201602'},
 {'code': 'dk_ens_crudeoil_201601',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201601.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201601'},
 {'code': 'dk_ens_crudeoil_201512',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201512.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201512'},
 {'code': 'dk_ens_crudeoil_201511',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201511.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201511'},
 {'code': 'dk_ens_crudeoil_201510',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201510.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201510'},
 {'code': 'dk_ens_crudeoil_201509',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201509.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201509'},
 {'code': 'dk_ens_crudeoil_201508',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201508.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201508'},
 {'code': 'dk_ens_crudeoil_201507',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201507.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201507'},
 {'code': 'dk_ens_crudeoil_201506',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201506.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201506'},
 {'code': 'dk_ens_crudeoil_201505',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201505.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201505'},
 {'code': 'dk_ens_crudeoil_201504',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201504.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201504'},
 {'code': 'dk_ens_crudeoil_201503',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201503.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201503'},
 {'code': 'dk_ens_crudeoil_201502',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201502.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201502'},
 {'code': 'dk_ens_crudeoil_201501',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201501.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201501'},
 {'code': 'dk_ens_crudeoil_201412',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201412.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201412'},
 {'code': 'dk_ens_crudeoil_201411',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201411.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201411'},
 {'code': 'dk_ens_crudeoil_201410',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201410.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201410'},
 {'code': 'dk_ens_crudeoil_201409',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201409.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201409'},
 {'code': 'dk_ens_crudeoil_201408',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201408.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201408'},
 {'code': 'dk_ens_crudeoil_201407',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201407.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201407'},
 {'code': 'dk_ens_crudeoil_201406',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201406.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201406'},
 {'code': 'dk_ens_crudeoil_201405',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201405.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201405'},
 {'code': 'dk_ens_crudeoil_201404',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201404.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201404'},
 {'code': 'dk_ens_crudeoil_201403',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201403.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201403'},
 {'code': 'dk_ens_crudeoil_201402',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201402.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201402'},
 {'code': 'dk_ens_crudeoil_201401',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201401.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201401'},
 {'code': 'dk_ens_crudeoil_201312',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201312.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201312'},
 {'code': 'dk_ens_crudeoil_201311',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201311.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201311'},
 {'code': 'dk_ens_crudeoil_201310',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201310.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201310'},
 {'code': 'dk_ens_crudeoil_201309',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201309.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201309'},
 {'code': 'dk_ens_crudeoil_201308',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201308.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201308'},
 {'code': 'dk_ens_crudeoil_201307',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201307.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201307'},
 {'code': 'dk_ens_crudeoil_201306',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201306.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201306'},
 {'code': 'dk_ens_crudeoil_201305',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201305.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201305'},
 {'code': 'dk_ens_crudeoil_201304',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201304.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201304'},
 {'code': 'dk_ens_crudeoil_201303',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201303.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201303'},
 {'code': 'dk_ens_crudeoil_201302',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201302.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201302'},
 {'code': 'dk_ens_crudeoil_201301',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201301.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201301'},
 {'code': 'dk_ens_crudeoil_201212',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201212.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201212'},
 {'code': 'dk_ens_crudeoil_201211',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201211.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201211'},
 {'code': 'dk_ens_crudeoil_201210',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201210.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201210'},
 {'code': 'dk_ens_crudeoil_201209',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201209.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201209'},
 {'code': 'dk_ens_crudeoil_201208',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201208.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201208'},
 {'code': 'dk_ens_crudeoil_201207',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201207.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201207'},
 {'code': 'dk_ens_crudeoil_201206',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201206.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201206'},
 {'code': 'dk_ens_crudeoil_201205',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201205.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201205'},
 {'code': 'dk_ens_crudeoil_201204',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201204.html',
  'long_name': 'DENMARK DK_ENS Oil Monthly Production by Field - 201204'},
 {'code': 'dk_ens_crudeoil_201203',
  'url': '(local)',
  'path': 'dk_ens_crudeoil_201203.html',

In [15]:
from scraper.core import factory

job = factory.get_scraper_job('dk_ens', 'dk_oil_prod')
job.run()

2021-02-24 15:53:55,490 - scraper.core.factory - DEBUG - Loading module scraper.jobs.dk_ens.dk_oil_prod
2021-02-24 15:53:55,491 - scraper.core.factory - DEBUG - Getting class DkOilProdJob
2021-02-24 15:53:55,492 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Generating sources...
2021-02-24 15:53:55,494 - scraper.jobs.dk_ens.dk_oil_prod - INFO - Getting list of online sources from https://ens.dk/en/our-services/oil-and-gas-related-data/monthly-and-yearly-production
2021-02-24 15:53:55,498 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): ens.dk:443
2021-02-24 15:53:56,037 - urllib3.connectionpool - DEBUG - https://ens.dk:443 "GET /en/our-services/oil-and-gas-related-data/monthly-and-yearly-production HTTP/1.1" 200 None
2021-02-24 15:53:56,110 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Parsing online sources (anchors with href containing ofu.htm)
2021-02-24 15:53:56,143 - scraper.jobs.dk_ens.dk_oil_prod - INFO - 37 online sources found in the website.
2021-02-24 15:53:56,144 - scraper.jobs.dk_ens.dk_oil_prod - INFO - Current period: 2021-01-01
2021-02-24 15:53:56,145 - scraper.jobs.dk_ens.dk_oil_prod - INFO - Loading only current period: 2021-01-01
2021-02-24 15:53:56,146 - scraper.core.job - DEBUG - remove_existing_dynamic_dim: query - http://vipenta:8000/dimension/source
2021-02-24 15:53:56,147 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2021-02-24 15:53:56,934 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/source HTTP/1.1" 200 751092
2021-02-24 15:53:58,007 - scraper.core.job - DEBUG - self.dynamic_dim['source'] size before: 1
2021-02-24 15:53:58,007 - scraper.core.job - DEBUG - self.dynamic_dim['source'] size after: 0
2021-02-24 15:53:58,008 - scraper.core.job - DEBUG - download: True, parallel download: True
2021-02-24 15:53:58,010 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - calling super(cls, cls).download_source(source)
2021-02-24 15:53:58,015 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): ens.dk:443
2021-02-24 15:53:58,664 - urllib3.connectionpool - DEBUG - https://ens.dk:443 "GET /sites/ens.dk/files/OlieGas/mp202101ofu.htm HTTP/1.1" 200 1912
2021-02-24 15:53:58,681 - scraper.core.utils - INFO - download_and_get_checksum: 672.9180812835693 ms
2021-02-24 15:53:58,681 - scraper.core.job - DEBUG - rm_sources_up_to_date: processing dk_ens_crudeoil_202101
2021-02-24 15:53:58,683 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2021-02-24 15:53:58,876 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/source?code=dk_ens_crudeoil_202101 HTTP/1.1" 200 441
2021-02-24 15:53:58,883 - scraper.core.utils - INFO - rm_sources_up_to_date: 201.93934440612793 ms
2021-02-24 15:53:58,886 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Transforming data ...
2021-02-24 15:53:58,888 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Transforming provider ...
2021-02-24 15:53:58,890 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Adding provider to dynamic_dim: DK_ENS
2021-02-24 15:53:58,892 - scraper.core.job - DEBUG - remove_existing_dynamic_dim: query - http://vipenta:8000/dimension/provider
2021-02-24 15:53:58,900 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2021-02-24 15:53:59,015 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/provider HTTP/1.1" 200 6393
2021-02-24 15:53:59,034 - scraper.core.job - DEBUG - self.dynamic_dim['provider'] size before: 1
2021-02-24 15:53:59,035 - scraper.core.job - DEBUG - self.dynamic_dim['provider'] size after: 0
2021-02-24 15:53:59,036 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Reading data from files in parallel ...
2021-02-24 15:53:59,038 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Getting data from dk_ens_crudeoil_202101.html
2021-02-24 15:53:59,040 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - calculated period for source dk_ens_crudeoil_202101: 2021-01-01
2021-02-24 15:53:59,042 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Period: 2021-01-01, pandas_html params: {'io': 'C:\\Users\\ROSA_L\\PycharmProjects\\scraper\\filestore\\dk_ens_crudeoil_202101.html', 'thousands': ' ', 'decimal': '.', 'encoding': 'ISO-8859-1'}
2021-02-24 15:53:59,113 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Number of rows read for 2021-01-01: 89
2021-02-24 15:53:59,181 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Number of rows in the oil table for period 2021-01-01  s: 2 e: 23: 20
2021-02-24 15:53:59,201 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Concatenating results ...
2021-02-24 15:53:59,203 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Transforming data frame
2021-02-24 15:53:59,214 - scraper.core.job - DEBUG - remove_existing_dynamic_dim: query - http://vipenta:8000/dimension/entity
2021-02-24 15:53:59,218 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000

C:\Users\ROSA_L\PycharmProjects\scraper\scraper\jobs\dk_ens\dk_oil_prod.py:234: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  break_indexes = table[df.apply(lambda r: r.str.contains('Total', case=True).any(), axis=1)].index

2021-02-24 15:54:12,997 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/entity HTTP/1.1" 200 17233190
2021-02-24 15:54:36,620 - scraper.core.job - DEBUG - self.dynamic_dim['entity'] size before: 20
2021-02-24 15:54:36,621 - scraper.core.job - DEBUG - self.dynamic_dim['entity'] size after: 0
2021-02-24 15:54:36,644 - scraper.jobs.dk_ens.dk_oil_prod - DEBUG - Number of rows transformed: 20
2021-02-24 15:54:36,646 - scraper.core.job - DEBUG - Running insert_new_dynamic_dim(): 3 items
2021-02-24 15:54:36,647 - scraper.core.job - DEBUG - Processing source: size 0
2021-02-24 15:54:36,647 - scraper.core.job - DEBUG - Processing provider: size 0
2021-02-24 15:54:36,648 - scraper.core.job - DEBUG - Processing entity: size 0
2021-02-24 15:54:36,648 - scraper.core.utils - INFO - insert_new_dynamic_dim: 2.000570297241211 ms
2021-02-24 15:54:36,651 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2021-02-24 15:54:38,208 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "POST /main/datapoint HTTP/1.1" 201 10
2021-02-24 15:54:38,210 - root - DEBUG - Sending data to IEA External DB - Batch[1]: 20 rows
2021-02-24 15:54:38,211 - root - INFO - 20 items sent to IEA External DB API instance at: http://vipenta:8000/main/datapoint
2021-02-24 15:54:38,211 - scraper.core.utils - INFO - upsert: 1561.5997314453125 ms
2021-02-24 15:54:38,214 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2021-02-24 15:54:38,351 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "GET /dimension/source?code=dk_ens_crudeoil_202101 HTTP/1.1" 200 441
2021-02-24 15:54:38,355 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): vipenta:8000
2021-02-24 15:54:38,508 - urllib3.connectionpool - DEBUG - http://vipenta:8000 "PUT /dimension/source/7012 HTTP/1.1" 201 10
2021-02-24 15:54:38,511 - scraper.core.utils - INFO - update_sources_metadata: 299.11065101623535 ms