In [3]:
import pandas as pd
from sqlalchemy import create_engine

OCB_STR = "mssql+pyodbc://omr_reader:SU4bJSXAL8Zwyh0hV6z8@vihexa/ocb?driver=ODBC+Driver+13+for+SQL+Server"

print(OCB_STR)

engine = create_engine(
    OCB_STR,
    fast_executemany=True)

sql = "select * from demand_alchemy.v_demand_fact where frequency='yearly' and time_fk=2019"

df = pd.read_sql(sql, engine)

df

mssql+pyodbc://omr_reader:SU4bJSXAL8Zwyh0hV6z8@vihexa/ocb?driver=ODBC+Driver+13+for+SQL+Server

,country_fk,country_code,product_fk,product_code,sector_fk,sector_code,time_fk,time_code,frequency,timestamp,value
0,1,UAE,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,942.262954
1,2,ALBANIA,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,30.569731
2,3,ARMENIA,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,8.411793
3,4,ANGOLA,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,126.977562
4,5,ARGENTINA,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,697.085841
5,6,AUSTRIA,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,280.527945
6,7,AUSTRALI,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,1184.276055
7,8,AZERBAIJAN,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,102.917529
8,9,BOSNIAHERZ,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,36.147460
9,10,BANGLADESH,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,134.666706
10,11,BELGIUM,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,621.877534
11,12,BULGARIA,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,101.074778
12,13,BAHRAIN,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,64.419500
13,14,BENIN,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,47.668121
14,15,BRUNEI,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,15.382886
15,16,BOLIVIA,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,84.976542
16,17,BRAZIL,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,3098.025315
17,18,BOTSWANA,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,23.976403
18,19,BELARUS,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,139.366237
19,20,CANADA,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,2501.378630
20,21,CONGOREP,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,17.938366
21,22,CONGO,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,12.033292
22,23,SWITLAND,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,222.530411
23,24,COTEIVOIRE,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,51.614456
24,25,CHILE,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,371.442547
25,26,CAMEROON,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,38.306422
26,27,CHINA,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,13657.246020
27,28,COLOMBIA,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,369.837766
28,29,COSTARICA,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,59.659460
29,30,CUBA,2,TOTPRODS,1,ALL,2019,2019,yearly,2019-01-01,173.107601
...,...,...,...,...,...,...,...,...,...,...,...
1484,35,DENMARK,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,17.053096
1485,39,ESTONIA,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,4.303014
1486,42,SPAIN,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,164.751507
1487,44,FINLAND,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,29.583381
1488,46,FRANCE,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,232.420000
1489,48,UK,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,130.927123
1490,53,GREECE,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,47.814795
1491,59,HUNGARY,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,3.596986
1492,61,IRELAND,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,19.730685
1493,62,ISRAEL,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,59.284748
1494,66,ICELAND,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,-1.089315
1495,67,ITALY,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,68.230685
1496,70,JAPAN,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,302.035014
1497,75,KOREA,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,114.811945
1498,81,LITHUANIA,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,3.847945
1499,82,LUXEMBOU,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,5.429863
1500,83,LATVIA,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,13.385753
1501,96,MEXICO,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,80.233155
1502,102,NETHLAND,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,57.410137
1503,103,NORWAY,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,32.212603
1504,105,NZ,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,5.185315
1505,111,POLAND,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,15.795616
1506,113,PORTUGAL,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,11.646575
1507,122,SWEDEN,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,39.082027
1508,124,SLOVENIA,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,4.056656
1509,125,SLOVAKIA,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,0.495068
1510,138,TURKEY,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,8.923288
1511,144,USA,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,131.701575
1512,177,US50,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,105.556384
1513,178,USTER,11,OTHGASOIL,1,ALL,2019,2019,yearly,2019-01-01,26.145205