# Thailand Ministry of Energy

Downloading petroleum statistics from Thailand's ministry of Energy

## Setup

In the following cells, we do some standard setup:
- go the the PROJECT_ROOT directory
- setup logging

To run them, select the cell and type Shift+ Enter.

In [1]:
 # this goes back to project root directory
%cd ..

C:\Users\LYNGOPOULOU_D\Pycharm Projects\scraper

In [2]:
 # this makes Jupyter lab reload any python module imported every 2s
%load_ext autoreload
%autoreload 2

In [3]:
 # this sets up logging with DEBUG level
import logging
import sys

root = logging.getLogger()
root.setLevel(logging.DEBUG)

handler = logging.StreamHandler(sys.stdout)
handler.setLevel(logging.DEBUG)
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
handler.setFormatter(formatter)
root.addHandler(handler)

## Excel Files Download

In [4]:
 # let's download data

import requests
from pathlib import Path

logger = logging.getLogger(__name__)
provider = 'th_gov_eppo'

download_dir = Path('.') / 'filestore'

urls = ['#REF',
        'http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_01_05.xls',
       'http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_02_02.xls',
       'http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_02_02-1.xls',
       'http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_03_02.xls',
       'http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_03_07.xls',
       'http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_03_09.xls',
       'http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_04_02.xls']

for url in urls:
    logger.info(f'Downloading {url}')
    response = requests.get(url)
    if response.ok:
        file = download_dir / f"{provider}_{url.split('/')[-1]}"
        logger.debug(f'Response OK: downloading to {file}')
        logger.info(f'Saving file to {file}')
        file.write_bytes(response.content)

2020-06-10 11:34:59,700 - __main__ - INFO - Downloading http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_01_04.xls
2020-06-10 11:34:59,707 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): www.eppo.go.th
2020-06-10 11:35:01,720 - urllib3.connectionpool - DEBUG - http://www.eppo.go.th:80 "GET /epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_01_04.xls HTTP/1.1" 200 36864
2020-06-10 11:35:01,763 - __main__ - DEBUG - Response OK: downloading to filestore\th_gov_eppo_T02_01_04.xls
2020-06-10 11:35:01,763 - __main__ - INFO - Saving file to filestore\th_gov_eppo_T02_01_04.xls
2020-06-10 11:35:01,764 - __main__ - INFO - Downloading http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_01_05.xls
2020-06-10 11:35:01,767 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): www.eppo.go.th
2020-06-10 11:35:02,771 - urllib3.connectionpool - DEBUG - http://www.eppo.go.th:80 "GET /epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_01_05.xls HTTP/1.1" 200 43520
2020-06-10 11:35:02,819 - __main__ - DEBUG - Response OK: downloading to filestore\th_gov_eppo_T02_01_05.xls
2020-06-10 11:35:02,819 - __main__ - INFO - Saving file to filestore\th_gov_eppo_T02_01_05.xls
2020-06-10 11:35:02,821 - __main__ - INFO - Downloading http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_02_02.xls
2020-06-10 11:35:02,823 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): www.eppo.go.th
2020-06-10 11:35:03,387 - urllib3.connectionpool - DEBUG - http://www.eppo.go.th:80 "GET /epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_02_02.xls HTTP/1.1" 200 43520
2020-06-10 11:35:03,407 - __main__ - DEBUG - Response OK: downloading to filestore\th_gov_eppo_T02_02_02.xls
2020-06-10 11:35:03,408 - __main__ - INFO - Saving file to filestore\th_gov_eppo_T02_02_02.xls
2020-06-10 11:35:03,410 - __main__ - INFO - Downloading http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_02_02-1.xls
2020-06-10 11:35:03,413 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): www.eppo.go.th
2020-06-10 11:35:04,746 - urllib3.connectionpool - DEBUG - http://www.eppo.go.th:80 "GET /epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_02_02-1.xls HTTP/1.1" 200 111616
2020-06-10 11:35:04,808 - __main__ - DEBUG - Response OK: downloading to filestore\th_gov_eppo_T02_02_02-1.xls
2020-06-10 11:35:04,808 - __main__ - INFO - Saving file to filestore\th_gov_eppo_T02_02_02-1.xls
2020-06-10 11:35:04,809 - __main__ - INFO - Downloading http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_03_02.xls
2020-06-10 11:35:04,811 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): www.eppo.go.th
2020-06-10 11:35:05,410 - urllib3.connectionpool - DEBUG - http://www.eppo.go.th:80 "GET /epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_03_02.xls HTTP/1.1" 200 37888
2020-06-10 11:35:05,458 - __main__ - DEBUG - Response OK: downloading to filestore\th_gov_eppo_T02_03_02.xls
2020-06-10 11:35:05,458 - __main__ - INFO - Saving file to filestore\th_gov_eppo_T02_03_02.xls
2020-06-10 11:35:05,459 - __main__ - INFO - Downloading http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_03_07.xls
2020-06-10 11:35:05,462 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): www.eppo.go.th
2020-06-10 11:35:06,109 - urllib3.connectionpool - DEBUG - http://www.eppo.go.th:80 "GET /epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_03_07.xls HTTP/1.1" 200 36352
2020-06-10 11:35:06,151 - __main__ - DEBUG - Response OK: downloading to filestore\th_gov_eppo_T02_03_07.xls
2020-06-10 11:35:06,151 - __main__ - INFO - Saving file to filestore\th_gov_eppo_T02_03_07.xls
2020-06-10 11:35:06,153 - __main__ - INFO - Downloading http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_03_09.xls
2020-06-10 11:35:06,155 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): www.eppo.go.th
2020-06-10 11:35:07,199 - urllib3.connectionpool - DEBUG - http://www.eppo.go.th:80 "GET /epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_03_09.xls HTTP/1.1" 200 38400
2020-06-10 11:35:07,249 - __main__ - DEBUG - Response OK: downloading to filestore\th_gov_eppo_T02_03_09.xls
2020-06-10 11:35:07,250 - __main__ - INFO - Saving file to filestore\th_gov_eppo_T02_03_09.xls
2020-06-10 11:35:07,251 - __main__ - INFO - Downloading http://www.eppo.go.th/epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_04_02.xls
2020-06-10 11:35:07,253 - urllib3.connectionpool - DEBUG - Starting new HTTP connection (1): www.eppo.go.th
2020-06-10 11:35:08,191 - urllib3.connectionpool - DEBUG - http://www.eppo.go.th:80 "GET /epposite/images/Energy-Statistics/energyinformation/Energy_Statistics/Petroleum/T02_04_02.xls HTTP/1.1" 200 38400
2020-06-10 11:35:08,233 - __main__ - DEBUG - Response OK: downloading to filestore\th_gov_eppo_T02_04_02.xls
2020-06-10 11:35:08,234 - __main__ - INFO - Saving file to filestore\th_gov_eppo_T02_04_02.xls

## Read The File to a data frame

In [62]:
import pandas as pd
from pathlib import Path

logger = logging.getLogger(__name__)

download_dir = Path('.') / 'filestore'
file = download_dir / 'th_gov_eppo_T02_01_04.xls'

try:
    logger.info(f"Opening {file}")
    #read sheet and convert it to data frame
    data = pd.read_excel(file,header=None, skiprows=3)
    # display whole sheet data
    display(data)
except Exception as e:
    raise e

2020-06-10 15:55:15,346 - __main__ - INFO - Opening filestore\th_gov_eppo_T02_01_04.xls

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,TYPE,2016.00,2017.00,2018.00,2019.00,03 MONTH,NaN,2019,NaN,NaN,...,NaN,NaN,NaN,2020,NaN,NaN,GROWTH RATE (%),NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,2019,2020.00,Apr,May,Jun,...,Oct,Nov,Dec,Jan,Feb,Mar,2017,2018.00,2019.00,2020.00
2,1.CRUDE OIL,0.00,0.00,0.00,0.00,0,0.00,0,0,0,...,0,0,0,0,0,0,0,0.00,0.00,0.00
3,-VALUE (M. BAHT),484766.59,625718.27,827332.98,660649.90,185810,166400.04,63520.8,64389.2,53326.4,...,36547.3,44620.2,55621.2,66950.4,53099.3,46350.4,29.08,32.22,-20.15,-10.45
4,-QUANTITY (M. LITRES),49590.90,52633.68,55192.17,49687.94,14287,13540.42,4506.28,4360.08,3776.1,...,2947.43,3509.49,4118.11,4833.59,4071.91,4634.92,6.14,4.86,-9.97,-5.23
5,- (BBL/D),852218.74,906986.91,951075.01,856225.87,998458,935881.31,944772,884633,791684,...,598014,735789,835539,980704,883142,940395,6.14,4.86,-9.97,-5.23
6,-VALUE(M.US$),13672.96,18368.25,25448.24,21117.06,5845.19,5310.19,1983.93,2014.59,1704.04,...,1196.65,1466.83,1829.67,2187.55,1685.45,1437.19,34.34,38.54,-17.02,-9.15
7,-PRICE ($/BBL),43.84,55.48,73.31,67.57,65.05,62.35,70,73.46,71.75,...,64.55,66.45,70.64,71.95,65.81,49.3,26.57,32.12,-7.83,-4.14
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2.PETROLEUM PRODUCTS,0.00,0.00,0.00,0.00,0,0.00,0,0,0,...,0,0,0,0,0,0,0,0.00,0.00,0.00
10,-VALUE (M. BAHT),39062.35,51664.58,50979.07,84371.67,13990.9,5933.34,5332.3,6527.97,6508.5,...,15224.6,12839.9,8552.15,1849.21,2043.82,2040.31,32.26,-1.33,65.50,-57.59
11,-QUANTITY (M. LITRES),3432.08,3875.79,3478.54,6041.88,1145.26,490.46,359.97,390.3,458.65,...,1089.33,885.1,610.27,132.28,157.64,200.55,12.93,-10.25,73.69,-57.17
12,- (BBL/D),58980.30,66787.85,59942.36,104113.99,80037.2,33899.59,75470.8,79189.9,96159.3,...,221018,185568,123819,26838.2,34189.5,40689.8,12.93,-10.25,73.69,-57.17
13,-VALUE(M.US$),1101.45,1512.56,1574.55,2719.89,440.64,188.56,166.54,204.24,207.98,...,498.49,422.09,281.32,60.42,64.87,63.26,37.32,4.10,72.74,-57.21
14,-PRICE ($/BBL),51.02,62.05,71.97,71.57,61.17,61.12,73.56,83.2,72.1,...,72.76,75.82,73.29,72.62,65.43,50.15,21.6,15.99,-0.55,-0.08
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,3.OTHERS,0.00,0.00,0.00,0.00,0,0.00,0,0,0,...,0,0,0,0,0,0,0,0.00,0.00,0.00
17,-VALUE (M. BAHT),62974.00,73854.36,100839.32,82363.37,22636.2,16058.17,6735.4,8241.65,6115.65,...,6123.16,5016.2,6209.41,7029.74,3019.94,6008.49,17.28,36.54,-18.32,-29.06
18,-QUANTITY (M. LITRES),6940.97,6857.25,7503.17,7524.17,2052,1584.08,560.14,683.22,544.39,...,597.76,478.24,592.93,630.41,296.15,657.52,-1.21,9.42,0.28,-22.80
19,- (BBL/D),119280.41,118164.55,129295.07,129656.97,143405,109487.60,117437,138621,114135,...,121281,100265,120302,127906,64230.8,133406,-1.21,9.42,0.28,-22.80
20,-VALUE(M. US$),1776.88,2166.24,3098.94,2634.75,712.57,511.85,210.36,257.86,195.43,...,200.49,164.9,204.26,229.69,95.86,186.31,21.91,43.06,-14.98,-28.17
21,-PRICE ($/BBL),40.70,50.23,65.67,55.67,55.21,51.37,59.71,60.01,57.07,...,53.33,54.82,54.77,57.93,51.46,45.05,23.4,30.74,-15.22,-6.95
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,4.TOTAL PETROLEUM,0.00,0.00,0.00,0.00,0,0.00,0,0,0,...,0,0,0,0,0,0,0,0.00,0.00,0.00
24,-VALUE (M. BAHT),586802.95,751237.21,979151.38,827384.94,222437,188391.55,75588.5,79158.8,65950.5,...,57895.1,62476.2,70382.8,75829.3,58163.1,54399.2,28.02,30.34,-15.50,-15.31
25,-QUANTITY (M. LITRES),59963.95,63366.71,66173.87,63253.99,17484.3,15614.95,5426.39,5433.6,4779.14,...,4634.52,4872.83,5321.31,5596.27,4525.7,5492.98,5.67,4.43,-4.41,-10.69
26,- (BBL/D),1030479.44,1091939.31,1140312.44,1089996.82,1.2219e+06,1079268.49,1.13768e+06,1.10244e+06,1.00198e+06,...,940314,1.02162e+06,1.07966e+06,1.13545e+06,981562,1.11449e+06,5.67,4.43,-4.41,-10.69
27,-VALUE(M.US$),16551.29,22047.06,30121.72,26471.70,6998.4,6010.61,2360.84,2476.69,2107.44,...,1895.63,2053.82,2315.25,2477.66,1846.18,1686.76,33.2,36.62,-12.12,-14.11
28,-PRICE ($/BBL),43.88,55.32,72.37,66.54,63.64,61.20,69.17,72.47,70.11,...,65.03,67.01,69.18,70.39,64.86,48.82,26.05,30.83,-8.06,-3.83
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Source : Department of Energy Business (DOEB),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Compiled by : Energy Policy and Planning Offic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,REMARKS : PETROLEUM PRODUCTS EXCLUDING LUBE OI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,: PETROLEUM PRODUCTS INCL...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Transform the file

In [108]:
## Remove annual, y-t-d and growth rate figures. Keep only monthly

# propagation non-null values forward for the first row
data.iloc[0] = data.iloc[0].fillna(method='ffill')


# find the max number of column which contains MONTH 
result = data.iloc[0].str.contains('MONTH')
columnNames = list(result[result == True].index)
print('Names of columns which contains MONTH:', columnNames)
max_col_name =max(columnNames)
print('max:',max_col_name)

# find the min number of column which contains Growth Rate 
result_1 = data.iloc[0].str.contains('GROWTH RATE')
columnNames_1 = list(result_1[result_1 == True].index)
print('Names of columns which contains GROWTH RATE:', columnNames_1)
min_col_name =min(columnNames_1)
print('min:',min_col_name)

#Selecting a subset of the dataframe based on the column's location
list_of_columns=[0]+list(range((max_col_name+1),min_col_name))
new_data = data.iloc[:,list_of_columns]
display(new_data)

Names of columns which contains MONTH: [5, 6]
max: 6
Names of columns which contains GROWTH RATE: [19, 20, 21, 22]
min: 19

,0,7,8,9,10,11,12,13,14,15,16,17,18
0,TYPE,2019,2019,2019,2019,2019,2019,2019,2019,2019,2020,2020,2020
1,NaN,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Jan,Feb,Mar
2,1.CRUDE OIL,0,0,0,0,0,0,0,0,0,0,0,0
3,-VALUE (M. BAHT),63520.8,64389.2,53326.4,58356.4,52651.2,45807.3,36547.3,44620.2,55621.2,66950.4,53099.3,46350.4
4,-QUANTITY (M. LITRES),4506.28,4360.08,3776.1,4444.75,4074.35,3664.32,2947.43,3509.49,4118.11,4833.59,4071.91,4634.92
5,- (BBL/D),944772,884633,791684,901811,826660,768250,598014,735789,835539,980704,883142,940395
6,-VALUE(M.US$),1983.93,2014.59,1704.04,1884.6,1701.65,1489.91,1196.65,1466.83,1829.67,2187.55,1685.45,1437.19
7,-PRICE ($/BBL),70,73.46,71.75,67.41,66.4,64.65,64.55,66.45,70.64,71.95,65.81,49.3
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2.PETROLEUM PRODUCTS,0,0,0,0,0,0,0,0,0,0,0,0
10,-VALUE (M. BAHT),5332.3,6527.97,6508.5,5955.95,3840.88,5598.57,15224.6,12839.9,8552.15,1849.21,2043.82,2040.31
11,-QUANTITY (M. LITRES),359.97,390.3,458.65,394.41,333.03,375.55,1089.33,885.1,610.27,132.28,157.64,200.55
12,- (BBL/D),75470.8,79189.9,96159.3,80023.5,67570.1,78736.1,221018,185568,123819,26838.2,34189.5,40689.8
13,-VALUE(M.US$),166.54,204.24,207.98,192.35,124.13,182.1,498.49,422.09,281.32,60.42,64.87,63.26
14,-PRICE ($/BBL),73.56,83.2,72.1,77.54,59.26,77.09,72.76,75.82,73.29,72.62,65.43,50.15
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,3.OTHERS,0,0,0,0,0,0,0,0,0,0,0,0
17,-VALUE (M. BAHT),6735.4,8241.65,6115.65,9012.4,6617.33,5655.95,6123.16,5016.2,6209.41,7029.74,3019.94,6008.49
18,-QUANTITY (M. LITRES),560.14,683.22,544.39,805.3,647.74,562.45,597.76,478.24,592.93,630.41,296.15,657.52
19,- (BBL/D),117437,138621,114135,163391,131422,117921,121281,100265,120302,127906,64230.8,133406
20,-VALUE(M. US$),210.36,257.86,195.43,291.05,213.87,183.96,200.49,164.9,204.26,229.69,95.86,186.31
21,-PRICE ($/BBL),59.71,60.01,57.07,57.46,52.49,52,53.33,54.82,54.77,57.93,51.46,45.05
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,4.TOTAL PETROLEUM,0,0,0,0,0,0,0,0,0,0,0,0
24,-VALUE (M. BAHT),75588.5,79158.8,65950.5,73324.8,63109.4,57061.8,57895.1,62476.2,70382.8,75829.3,58163.1,54399.2
25,-QUANTITY (M. LITRES),5426.39,5433.6,4779.14,5644.46,5055.12,4602.32,4634.52,4872.83,5321.31,5596.27,4525.7,5492.98
26,- (BBL/D),1.13768e+06,1.10244e+06,1.00198e+06,1.14523e+06,1.02565e+06,964907,940314,1.02162e+06,1.07966e+06,1.13545e+06,981562,1.11449e+06
27,-VALUE(M.US$),2360.84,2476.69,2107.44,2368,2039.66,1855.97,1895.63,2053.82,2315.25,2477.66,1846.18,1686.76
28,-PRICE ($/BBL),69.17,72.47,70.11,66.7,64.15,64.12,65.03,67.01,69.18,70.39,64.86,48.82
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Source : Department of Energy Business (DOEB),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Compiled by : Energy Policy and Planning Offic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,REMARKS : PETROLEUM PRODUCTS EXCLUDING LUBE OI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,: PETROLEUM PRODUCTS INCL...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### TESTS

In [ ]:
# Test 1 with xlwings -

import xlwings as xw
import pandas as pd

logger = logging.getLogger(__name__)


download_dir = Path('.') / 'filestore'
file = download_dir / 'th_gov_eppo_T02_01_04.xls'
TABLE_HEADER_START = (4, 1)

app = xw.App(visible=False, add_book=False)
app.display_alerts = False

df = None

try:
    logger.info(f"Opening {file}")  
        #wb = app.books.open(file)
    wb = app.books.open(file, update_links=False)
    #wb = xw.Book.open(file, update_links=False)
    logger.debug("Opening first sheet")
    sheet = wb.sheets[0]
    
    last_col = sheet.range(TABLE_HEADER_START).expand('right').end('right').column
    last_row = sheet.range('A' + str(sheet.cells.last_cell.row)).end('up').row
    
    logger.debug(f'last_col: {last_col} last_row: {last_row}')
    rng = sheet.range(TABLE_HEADER_START,(last_row, last_col))
    logger.debug(f'range: {rng.address}')
    
    # convert range to data frame
    df = rng.options(pd.DataFrame, index=False).value
    
    display(df)

except Exception as e:
    raise e
finally:
    app.quit()