In [1]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import numpy as np
import datetime
import sqlalchemy

def find_link_address():
    url = 'https://www.gov.uk/government/statistics/oil-and-oil-products-section-3-energy-trends'
    page = urllib.request.urlopen(url)
    soup = BeautifulSoup(page, 'html.parser')
    a = soup.find(lambda tag:tag.name=="a" and "road fuel sales and stock levels (weekly data) - ODS" in tag.text)
    link = a['href']
    return link

def download_data(link):
    df = pd.read_excel(link, sheet_name='Data', skiprows=6, engine='odf')
    df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
    df.rename(columns={'Date':'date', 
                       'Weekday':'weekday', 
                       'Fuel Type':'fuel_type', 
                       'Region':'region',
                       'Average Sales Per Filling Station (litres)':'sales_litres'}, inplace=True)
    df.set_index('date', inplace=True)
    return df

link = find_link_address()
df = download_data(link)
df

           weekday fuel_type                    region  sales_litres
date
2020-01-27  Monday    Diesel                North East         10825
2020-01-27  Monday    Diesel                North West         10807
2020-01-27  Monday    Diesel  Yorkshire and The Humber         12762
2020-01-27  Monday    Diesel             East Midlands         12779
2020-01-27  Monday    Diesel             West Midlands         11887
...            ...       ...                       ...           ...
2021-08-01  Sunday     Total                South West         13482
2021-08-01  Sunday     Total                     Wales         12109
2021-08-01  Sunday     Total                  Scotland         14015
2021-08-01  Sunday     Total                   England         13082
2021-08-01  Sunday     Total                     Total         13099

[21567 rows x 4 columns]